<?xml version='1.0' encoding='utf-8' ?>
<stage>
    <duration>6000</duration>
    <width_height>720,1280</width_height>
    <layout_type>center</layout_type>
    <max>8</max>
    <model>
        <chance_range>0.0,.7</chance_range>
        <active_time>1800,2600</active_time>
        <src_ltwh>0,0,96,96</src_ltwh>
        <move_from>0,0,match_parent,48</move_from>
        <move_to>0,1232,match_parent,48</move_to>
        <move_interpolator>decelerate,decelerate</move_interpolator>
        <rotate>0,100,200,300,48.0,0.0</rotate>
        <rotate_interpolator>decelerate</rotate_interpolator>
        <alpha>0,0,255,255</alpha>
        <alpha_interpolator>spring</alpha_interpolator>
        <scale>1,1.2,.6,.8</scale>
        <scale_interpolator>decelerate</scale_interpolator>
    </model>
    <model>
        <chance_range>0.7,1.0</chance_range>
        <active_time>1200,1800</active_time>
        <src_ltwh>97,0,61,61</src_ltwh>
        <move_from>0,200,match_parent,48</move_from>
        <move_to>0,1232,match_parent,48</move_to>
        <move_interpolator>decelerate,bounce</move_interpolator>
        <rotate>0,100,200,300,48.0,0.0</rotate>
        <rotate_interpolator>decelerate</rotate_interpolator>
        <alpha>0,0,255,255</alpha>
        <alpha_interpolator>spring</alpha_interpolator>
        <scale>1,1.2,.6,.8</scale>
        <scale_interpolator>decelerate</scale_interpolator>
    </model>
</stage>