<?xml version='1.0' encoding='utf-8' ?>
<stage>
  <duration>8100</duration>
  <width_height>1000,2000</width_height>
  <layout_type>center</layout_type>
  <actor>
    <anim>
      <range>0.0,1.0</range>
      <move>500.0,1000.0,500.0,1000.0</move>
      <move_interpolator>linear,linear</move_interpolator>
      <scale>1.0,1.0,1.0,1.0</scale>
      <scale_interpolator>linear,linear</scale_interpolator>
      <rotate>0,0,250.0,500.0</rotate>
      <rotate_interpolator>linear</rotate_interpolator>
      <alpha>255,255</alpha>
      <alpha_interpolator>linear</alpha_interpolator>
    </anim>
    <bone>
      <name>external</name>
      <src_id_wh>bg,1,1</src_id_wh>
      <anim>
        <range>0.0,1.0</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>1000.0,2000.0,1000.0,2000.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,0.5,0.5</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,255</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
    </bone>
  </actor>
  <actor>
    <anim>
      <range>0.0,0.06</range>
      <move>500.0,1000.0,500.0,1000.0</move>
      <move_interpolator>linear,linear</move_interpolator>
      <scale>1.0,1.0,1.0,1.0</scale>
      <scale_interpolator>linear,linear</scale_interpolator>
      <rotate>0,0,250.0,500.0</rotate>
      <rotate_interpolator>linear</rotate_interpolator>
      <alpha>255,255</alpha>
      <alpha_interpolator>linear</alpha_interpolator>
    </anim>
    <anim>
      <range>0.06,0.12</range>
      <move>500.0,1000.0,1800.0,1000.0</move>
      <move_interpolator>accelerate_2,accelerate_2</move_interpolator>
      <scale>1.0,1.0,1.0,1.0</scale>
      <scale_interpolator>linear,linear</scale_interpolator>
      <rotate>0,30,250.0,500.0</rotate>
      <rotate_interpolator>accelerate_2</rotate_interpolator>
      <alpha>255,255</alpha>
      <alpha_interpolator>linear</alpha_interpolator>
    </anim>
    <anim>
      <range>0.12,1.0</range>
      <move>1800.0,1000.0,1800.0,1000.0</move>
      <move_interpolator>linear,linear</move_interpolator>
      <scale>1.0,1.0,1.0,1.0</scale>
      <scale_interpolator>linear,linear</scale_interpolator>
      <rotate>30,30,250.0,500.0</rotate>
      <rotate_interpolator>linear</rotate_interpolator>
      <alpha>0,0</alpha>
      <alpha_interpolator>linear</alpha_interpolator>
    </anim>
    <bone>
      <name>external</name>
      <src_id_wh>card1,1,1</src_id_wh>
      <anim>
        <range>0.0,0.06</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>750.0,1350.0,750.0,1350.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,0.5,0.5</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,255</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
      <anim>
        <range>0.06,0.12</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>750.0,1350.0,750.0,1350.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,0.5,0.5</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,0</alpha>
        <alpha_interpolator>decelerate_2</alpha_interpolator>
      </anim>
      <anim>
        <range>0.12,1.0</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>750.0,1350.0,750.0,1350.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,0.5,0.5</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>0,0</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
    </bone>
    <bone>
      <name>heart</name>
      <src_ltwh>166,0,117,102</src_ltwh>
      <anim>
        <range>0.0,0.06</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>0.0,0.0,3.0,3.0</scale>
        <scale_interpolator>decelerate_2,decelerate_2</scale_interpolator>
        <rotate>0,0,58.5,51.0</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,255</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
      <anim>
        <range>0.06,0.12</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>3.0,3.0,3.0,3.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,58.5,51.0</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,0</alpha>
        <alpha_interpolator>accelerate_2</alpha_interpolator>
      </anim>
      <anim>
        <range>0.12,1.0</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>3.0,3.0,3.0,3.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,58.5,51.0</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>0,0</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
    </bone>
  </actor>
  <actor>
    <anim>
      <range>0.0,0.26</range>
      <move>500.0,1000.0,500.0,1000.0</move>
      <move_interpolator>linear,linear</move_interpolator>
      <scale>1.0,1.0,1.0,1.0</scale>
      <scale_interpolator>linear,linear</scale_interpolator>
      <rotate>0,0,250.0,500.0</rotate>
      <rotate_interpolator>linear</rotate_interpolator>
      <alpha>255,255</alpha>
      <alpha_interpolator>linear</alpha_interpolator>
    </anim>
    <anim>
      <range>0.26,0.32</range>
      <move>500.0,1000.0,1800.0,1000.0</move>
      <move_interpolator>accelerate_2,accelerate_2</move_interpolator>
      <scale>1.0,1.0,1.0,1.0</scale>
      <scale_interpolator>linear,linear</scale_interpolator>
      <rotate>0,30,250.0,500.0</rotate>
      <rotate_interpolator>accelerate_2</rotate_interpolator>
      <alpha>255,255</alpha>
      <alpha_interpolator>linear</alpha_interpolator>
    </anim>
    <anim>
      <range>0.32,1.0</range>
      <move>1800.0,1000.0,1800.0,1000.0</move>
      <move_interpolator>linear,linear</move_interpolator>
      <scale>1.0,1.0,1.0,1.0</scale>
      <scale_interpolator>linear,linear</scale_interpolator>
      <rotate>30,30,250.0,500.0</rotate>
      <rotate_interpolator>linear</rotate_interpolator>
      <alpha>0,0</alpha>
      <alpha_interpolator>linear</alpha_interpolator>
    </anim>
    <bone>
      <name>external</name>
      <src_id_wh>card2,1,1</src_id_wh>
      <anim>
        <range>0.0,0.06</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>50.0,50.0,50.0,50.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,0.5,0.5</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>0,0</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
      <anim>
        <range>0.06,0.13</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>600.0,1080.0,750.0,1350.0</scale>
        <scale_interpolator>decelerate_2,decelerate_2</scale_interpolator>
        <rotate>0,0,0.5,0.5</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>0,255</alpha>
        <alpha_interpolator>accelerate_2</alpha_interpolator>
      </anim>
      <anim>
        <range>0.13,0.26</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>750.0,1350.0,750.0,1350.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,0.5,0.5</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,255</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
      <anim>
        <range>0.26,0.32</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>750.0,1350.0,750.0,1350.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,0.5,0.5</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,0</alpha>
        <alpha_interpolator>decelerate_2</alpha_interpolator>
      </anim>
      <anim>
        <range>0.32,1.0</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>750.0,1350.0,750.0,1350.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,0.5,0.5</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>0,0</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
    </bone>
    <bone>
      <name>heart</name>
      <src_ltwh>166,0,117,102</src_ltwh>
      <anim>
        <range>0.0,0.2</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>1.0,1.0,1.0,1.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,58.5,51.0</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>0,0</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
      <anim>
        <range>0.2,0.26</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>0.0,0.0,3.0,3.0</scale>
        <scale_interpolator>decelerate_2,decelerate_2</scale_interpolator>
        <rotate>0,0,58.5,51.0</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,255</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
      <anim>
        <range>0.26,0.32</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>3.0,3.0,3.0,3.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,58.5,51.0</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,0</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
      <anim>
        <range>0.32,1.0</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>3.0,3.0,3.0,3.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,58.5,51.0</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>0,0</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
    </bone>
  </actor>
  <actor>
    <anim>
      <range>0.0,0.46</range>
      <move>500.0,1000.0,500.0,1000.0</move>
      <move_interpolator>linear,linear</move_interpolator>
      <scale>1.0,1.0,1.0,1.0</scale>
      <scale_interpolator>linear,linear</scale_interpolator>
      <rotate>0,0,250.0,500.0</rotate>
      <rotate_interpolator>linear</rotate_interpolator>
      <alpha>255,255</alpha>
      <alpha_interpolator>linear</alpha_interpolator>
    </anim>
    <anim>
      <range>0.46,0.52</range>
      <move>500.0,1000.0,1800.0,1000.0</move>
      <move_interpolator>accelerate_2,accelerate_2</move_interpolator>
      <scale>1.0,1.0,1.0,1.0</scale>
      <scale_interpolator>linear,linear</scale_interpolator>
      <rotate>0,30,250.0,500.0</rotate>
      <rotate_interpolator>accelerate_2</rotate_interpolator>
      <alpha>255,255</alpha>
      <alpha_interpolator>linear</alpha_interpolator>
    </anim>
    <anim>
      <range>0.52,1.0</range>
      <move>1800.0,1000.0,1800.0,1000.0</move>
      <move_interpolator>linear,linear</move_interpolator>
      <scale>1.0,1.0,1.0,1.0</scale>
      <scale_interpolator>linear,linear</scale_interpolator>
      <rotate>30,30,250.0,500.0</rotate>
      <rotate_interpolator>linear</rotate_interpolator>
      <alpha>0,0</alpha>
      <alpha_interpolator>linear</alpha_interpolator>
    </anim>
    <bone>
      <name>external</name>
      <src_id_wh>card3,1,1</src_id_wh>
      <anim>
        <range>0.0,0.26</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>700.0,1400.0,700.0,1400.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,0.5,0.5</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>0,0</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
      <anim>
        <range>0.26,0.32</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>600.0,1080.0,750.0,1350.0</scale>
        <scale_interpolator>decelerate_2,decelerate_2</scale_interpolator>
        <rotate>0,0,0.5,0.5</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>0,255</alpha>
        <alpha_interpolator>accelerate_2</alpha_interpolator>
      </anim>
      <anim>
        <range>0.32,0.46</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>750.0,1350.0,750.0,1350.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,0.5,0.5</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,255</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
      <anim>
        <range>0.46,0.52</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>750.0,1350.0,750.0,1350.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,0.5,0.5</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,0</alpha>
        <alpha_interpolator>decelerate_2</alpha_interpolator>
      </anim>
      <anim>
        <range>0.52,1.0</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>750.0,1350.0,750.0,1350.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,0.5,0.5</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>0,0</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
    </bone>
    <bone>
      <name>heart</name>
      <src_ltwh>166,0,117,102</src_ltwh>
      <anim>
        <range>0.0,0.4</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>1.0,1.0,1.0,1.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,58.5,51.0</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>0,0</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
      <anim>
        <range>0.4,0.46</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>0.0,0.0,3.0,3.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,58.5,51.0</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,255</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
      <anim>
        <range>0.46,0.52</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>3.0,3.0,3.0,3.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,58.5,51.0</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,0</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
      <anim>
        <range>0.52,1.0</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>3.0,3.0,3.0,3.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,58.5,51.0</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>0,0</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
    </bone>
  </actor>
  <actor>
    <anim>
      <range>0.0,0.61</range>
      <move>500.0,1000.0,500.0,1000.0</move>
      <move_interpolator>linear,linear</move_interpolator>
      <scale>1.0,1.0,1.0,1.0</scale>
      <scale_interpolator>linear,linear</scale_interpolator>
      <rotate>0,0,250.0,500.0</rotate>
      <rotate_interpolator>linear</rotate_interpolator>
      <alpha>255,255</alpha>
      <alpha_interpolator>linear</alpha_interpolator>
    </anim>
    <anim>
      <range>0.61,0.67</range>
      <move>500.0,1000.0,-800.0,1000.0</move>
      <move_interpolator>accelerate_2,accelerate_2</move_interpolator>
      <scale>1.0,1.0,1.0,1.0</scale>
      <scale_interpolator>linear,linear</scale_interpolator>
      <rotate>0,-30,250.0,500.0</rotate>
      <rotate_interpolator>accelerate_2</rotate_interpolator>
      <alpha>255,255</alpha>
      <alpha_interpolator>linear</alpha_interpolator>
    </anim>
    <anim>
      <range>0.67,1.0</range>
      <move>-800.0,1000.0,-800.0,1000.0</move>
      <move_interpolator>linear,linear</move_interpolator>
      <scale>1.0,1.0,1.0,1.0</scale>
      <scale_interpolator>linear,linear</scale_interpolator>
      <rotate>-30,-30,250.0,500.0</rotate>
      <rotate_interpolator>linear</rotate_interpolator>
      <alpha>0,0</alpha>
      <alpha_interpolator>linear</alpha_interpolator>
    </anim>
    <bone>
      <name>external</name>
      <src_id_wh>card4,1,1</src_id_wh>
      <anim>
        <range>0.0,0.46</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>700.0,1400.0,700.0,1400.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,0.5,0.5</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>0,0</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
      <anim>
        <range>0.46,0.52</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>600.0,1080.0,750.0,1350.0</scale>
        <scale_interpolator>decelerate_2,decelerate_2</scale_interpolator>
        <rotate>0,0,0.5,0.5</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>0,255</alpha>
        <alpha_interpolator>accelerate_2</alpha_interpolator>
      </anim>
      <anim>
        <range>0.52,0.61</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>750.0,1350.0,750.0,1350.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,0.5,0.5</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,255</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
      <anim>
        <range>0.61,0.67</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>750.0,1350.0,750.0,1350.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,0.5,0.5</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,0</alpha>
        <alpha_interpolator>decelerate_2</alpha_interpolator>
      </anim>
      <anim>
        <range>0.67,1.0</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>750.0,1350.0,750.0,1350.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,0.5,0.5</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>0,0</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
    </bone>
    <bone>
      <name>no</name>
      <src_ltwh>284,0,96,96</src_ltwh>
      <anim>
        <range>0.0,0.55</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>1.0,1.0,1.0,1.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,48.0,48.0</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>0,0</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
      <anim>
        <range>0.55,0.61</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>0.0,0.0,3.0,3.0</scale>
        <scale_interpolator>decelerate_2,decelerate_2</scale_interpolator>
        <rotate>0,0,48.0,48.0</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,255</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
      <anim>
        <range>0.61,0.67</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>3.0,3.0,3.0,3.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,48.0,48.0</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,0</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
      <anim>
        <range>0.67,1.0</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>3.0,3.0,3.0,3.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,48.0,48.0</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>0,0</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
    </bone>
  </actor>
  <actor>
    <anim>
      <range>0.0,0.76</range>
      <move>500.0,1000.0,500.0,1000.0</move>
      <move_interpolator>linear,linear</move_interpolator>
      <scale>1.0,1.0,1.0,1.0</scale>
      <scale_interpolator>linear,linear</scale_interpolator>
      <rotate>0,0,250.0,500.0</rotate>
      <rotate_interpolator>linear</rotate_interpolator>
      <alpha>255,255</alpha>
      <alpha_interpolator>linear</alpha_interpolator>
    </anim>
    <anim>
      <range>0.76,0.82</range>
      <move>500.0,1000.0,-800.0,1000.0</move>
      <move_interpolator>accelerate_2,accelerate_2</move_interpolator>
      <scale>1.0,1.0,1.0,1.0</scale>
      <scale_interpolator>linear,linear</scale_interpolator>
      <rotate>0,-30,250.0,500.0</rotate>
      <rotate_interpolator>accelerate_2</rotate_interpolator>
      <alpha>255,255</alpha>
      <alpha_interpolator>linear</alpha_interpolator>
    </anim>
    <anim>
      <range>0.82,1.0</range>
      <move>-800.0,1000.0,-800.0,1000.0</move>
      <move_interpolator>linear,linear</move_interpolator>
      <scale>1.0,1.0,1.0,1.0</scale>
      <scale_interpolator>linear,linear</scale_interpolator>
      <rotate>-30,-30,250.0,500.0</rotate>
      <rotate_interpolator>linear</rotate_interpolator>
      <alpha>0,0</alpha>
      <alpha_interpolator>linear</alpha_interpolator>
    </anim>
    <bone>
      <name>external</name>
      <src_id_wh>card5,1,1</src_id_wh>
      <anim>
        <range>0.0,0.61</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>700.0,1400.0,700.0,1400.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,0.5,0.5</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>0,0</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
      <anim>
        <range>0.61,0.67</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>600.0,1080.0,750.0,1350.0</scale>
        <scale_interpolator>decelerate_2,decelerate_2</scale_interpolator>
        <rotate>0,0,0.5,0.5</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>0,255</alpha>
        <alpha_interpolator>accelerate_2</alpha_interpolator>
      </anim>
      <anim>
        <range>0.67,0.76</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>750.0,1350.0,750.0,1350.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,0.5,0.5</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,255</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
      <anim>
        <range>0.76,0.82</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>750.0,1350.0,750.0,1350.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,0.5,0.5</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,0</alpha>
        <alpha_interpolator>decelerate_2</alpha_interpolator>
      </anim>
      <anim>
        <range>0.82,1.0</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>750.0,1350.0,750.0,1350.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,0.5,0.5</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>0,0</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
    </bone>
    <bone>
      <name>no</name>
      <src_ltwh>284,0,96,96</src_ltwh>
      <anim>
        <range>0.0,0.7</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>0.0,0.0,0.0,0.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,48.0,48.0</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>0,0</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
      <anim>
        <range>0.7,0.76</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>0.0,0.0,3.0,3.0</scale>
        <scale_interpolator>decelerate_2,decelerate_2</scale_interpolator>
        <rotate>0,0,48.0,48.0</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,255</alpha>
        <alpha_interpolator>accelerate_2</alpha_interpolator>
      </anim>
      <anim>
        <range>0.76,0.82</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>3.0,3.0,3.0,3.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,48.0,48.0</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,0</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
      <anim>
        <range>0.82,1.0</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>3.0,3.0,3.0,3.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,48.0,48.0</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>0,0</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
    </bone>
  </actor>
  <actor>
    <anim>
      <range>0.0,0.91</range>
      <move>500.0,1000.0,500.0,1000.0</move>
      <move_interpolator>linear,linear</move_interpolator>
      <scale>1.0,1.0,1.0,1.0</scale>
      <scale_interpolator>linear,linear</scale_interpolator>
      <rotate>0,0,250.0,500.0</rotate>
      <rotate_interpolator>linear</rotate_interpolator>
      <alpha>255,255</alpha>
      <alpha_interpolator>linear</alpha_interpolator>
    </anim>
    <anim>
      <range>0.91,0.97</range>
      <move>500.0,1000.0,-800.0,1000.0</move>
      <move_interpolator>accelerate_2,accelerate_2</move_interpolator>
      <scale>1.0,1.0,1.0,1.0</scale>
      <scale_interpolator>linear,linear</scale_interpolator>
      <rotate>0,-30,250.0,500.0</rotate>
      <rotate_interpolator>accelerate_2</rotate_interpolator>
      <alpha>255,255</alpha>
      <alpha_interpolator>linear</alpha_interpolator>
    </anim>
    <anim>
      <range>0.97,1.0</range>
      <move>500.0,1000.0,500.0,1000.0</move>
      <move_interpolator>linear,linear</move_interpolator>
      <scale>1.0,1.0,1.0,1.0</scale>
      <scale_interpolator>linear,linear</scale_interpolator>
      <rotate>0,0,250.0,500.0</rotate>
      <rotate_interpolator>linear</rotate_interpolator>
      <alpha>0,0</alpha>
      <alpha_interpolator>linear</alpha_interpolator>
    </anim>
    <bone>
      <name>external</name>
      <src_id_wh>card6,1,1</src_id_wh>
      <anim>
        <range>0.0,0.76</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>50.0,50.0,50.0,50.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,0.5,0.5</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>0,0</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
      <anim>
        <range>0.76,0.82</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>600.0,1080.0,750.0,1350.0</scale>
        <scale_interpolator>decelerate_2,decelerate_2</scale_interpolator>
        <rotate>0,0,0.5,0.5</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>0,255</alpha>
        <alpha_interpolator>accelerate_2</alpha_interpolator>
      </anim>
      <anim>
        <range>0.82,0.91</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>750.0,1350.0,750.0,1350.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,0.5,0.5</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,255</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
      <anim>
        <range>0.91,0.97</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>750.0,1350.0,750.0,1350.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,0.5,0.5</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,0</alpha>
        <alpha_interpolator>decelerate_2</alpha_interpolator>
      </anim>
      <anim>
        <range>0.97,1.0</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>750.0,1350.0,750.0,1350.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,0.5,0.5</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>0,0</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
    </bone>
    <bone>
      <name>no</name>
      <src_ltwh>284,0,96,96</src_ltwh>
      <anim>
        <range>0.0,0.85</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>1.0,1.0,1.0,1.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,48.0,48.0</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>0,0</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
      <anim>
        <range>0.85,0.91</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>0.0,0.0,3.0,3.0</scale>
        <scale_interpolator>decelerate_2,decelerate_2</scale_interpolator>
        <rotate>0,0,48.0,48.0</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,255</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
      <anim>
        <range>0.91,0.97</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>3.0,3.0,3.0,3.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,48.0,48.0</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,0</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
      <anim>
        <range>0.97,1.0</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>3.0,3.0,3.0,3.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,48.0,48.0</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>0,0</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
    </bone>
  </actor>
  <actor>
    <anim>
      <range>0.0,1.0</range>
      <move>500.0,1000.0,500.0,1000.0</move>
      <move_interpolator>linear,linear</move_interpolator>
      <scale>1.0,1.0,1.0,1.0</scale>
      <scale_interpolator>linear,linear</scale_interpolator>
      <rotate>0,0,250.0,500.0</rotate>
      <rotate_interpolator>linear</rotate_interpolator>
      <alpha>255,255</alpha>
      <alpha_interpolator>linear</alpha_interpolator>
    </anim>
    <bone>
      <name>external</name>
      <src_id_wh>card7,1,1</src_id_wh>
      <anim>
        <range>0.0,0.91</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>700.0,1400.0,700.0,1400.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,0.5,0.5</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>0,0</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
      <anim>
        <range>0.91,0.97</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>600.0,1080.0,750.0,1350.0</scale>
        <scale_interpolator>decelerate_2,decelerate_2</scale_interpolator>
        <rotate>0,0,0.5,0.5</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>0,255</alpha>
        <alpha_interpolator>accelerate_2</alpha_interpolator>
      </anim>
      <anim>
        <range>0.97,1.0</range>
        <move>500.0,1000.0,500.0,1000.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>750.0,1350.0,750.0,1350.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,0.5,0.5</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,255</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
    </bone>
  </actor>
  <actor>
    <anim>
      <range>0.0,1.0</range>
      <move>500.0,1000.0,500.0,1000.0</move>
      <move_interpolator>linear,linear</move_interpolator>
      <scale>1.0,1.0,1.0,1.0</scale>
      <scale_interpolator>linear,linear</scale_interpolator>
      <rotate>0,0,250.0,500.0</rotate>
      <rotate_interpolator>linear</rotate_interpolator>
      <alpha>255,255</alpha>
      <alpha_interpolator>linear</alpha_interpolator>
    </anim>
    <bone>
      <name>hand</name>
      <src_ltwh>0,0,165,143</src_ltwh>
      <anim>
        <range>0.0,0.06</range>
        <move>400.0,1700.0,400.0,1700.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>3.0,3.0,3.0,3.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,82.5,71.5</rotate>
        <rotate_interpolator>spring_2</rotate_interpolator>
        <alpha>255,255</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
      <anim>
        <range>0.06,0.1</range>
        <move>400.0,1700.0,760.0,1500.0</move>
        <move_interpolator>accelerate_2,accelerate_2</move_interpolator>
        <scale>3.0,3.0,3.0,3.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,60,82.5,71.5</rotate>
        <rotate_interpolator>accelerate_2</rotate_interpolator>
        <alpha>255,255</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
      <anim>
        <range>0.1,0.16</range>
        <move>760.0,1500.0,760.0,1500.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>3.0,3.0,3.0,3.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>60,60,82.5,71.5</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,255</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
      <anim>
        <range>0.16,0.2</range>
        <move>760.0,1500.0,400.0,1700.0</move>
        <move_interpolator>decelerate_2,decelerate_2</move_interpolator>
        <scale>3.0,3.0,3.0,3.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>60,0,82.5,71.5</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,255</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
      <anim>
        <range>0.2,0.26</range>
        <move>400.0,1700.0,400.0,1700.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>3.0,3.0,3.0,3.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,82.5,71.5</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,255</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
      <anim>
        <range>0.26,0.3</range>
        <move>400.0,1700.0,760.0,1500.0</move>
        <move_interpolator>accelerate_2,accelerate_2</move_interpolator>
        <scale>3.0,3.0,3.0,3.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,60,82.5,71.5</rotate>
        <rotate_interpolator>accelerate_2</rotate_interpolator>
        <alpha>255,255</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
      <anim>
        <range>0.3,0.36</range>
        <move>760.0,1500.0,760.0,1500.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>3.0,3.0,3.0,3.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>60,60,82.5,71.5</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,255</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
      <anim>
        <range>0.36,0.4</range>
        <move>760.0,1500.0,400.0,1700.0</move>
        <move_interpolator>decelerate_2,decelerate_2</move_interpolator>
        <scale>3.0,3.0,3.0,3.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>60,0,82.5,71.5</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,255</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
      <anim>
        <range>0.4,0.46</range>
        <move>400.0,1700.0,400.0,1700.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>3.0,3.0,3.0,3.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,82.5,71.5</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,255</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
      <anim>
        <range>0.46,0.5</range>
        <move>400.0,1700.0,760.0,1500.0</move>
        <move_interpolator>accelerate_2,accelerate_2</move_interpolator>
        <scale>3.0,3.0,3.0,3.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,60,82.5,71.5</rotate>
        <rotate_interpolator>accelerate_2</rotate_interpolator>
        <alpha>255,255</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
      <anim>
        <range>0.5,0.56</range>
        <move>760.0,1500.0,760.0,1500.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>3.0,3.0,3.0,3.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>60,60,82.5,71.5</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,255</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
      <anim>
        <range>0.56,0.6</range>
        <move>760.0,1500.0,760.0,1500.0</move>
        <move_interpolator>decelerate_2,decelerate_2</move_interpolator>
        <scale>3.0,3.0,3.0,3.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>60,40,82.5,71.5</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,255</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
      <anim>
        <range>0.6,0.67</range>
        <move>760.0,1500.0,400.0,1700.0</move>
        <move_interpolator>accelerate_2,accelerate_2</move_interpolator>
        <scale>3.0,3.0,3.0,3.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>40,0,82.5,71.5</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,255</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
      <anim>
        <range>0.67,0.72</range>
        <move>400.0,1700.0,400.0,1700.0</move>
        <move_interpolator>accelerate_2,accelerate_2</move_interpolator>
        <scale>3.0,3.0,3.0,3.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,82.5,71.5</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,255</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
      <anim>
        <range>0.72,0.76</range>
        <move>400.0,1700.0,760.0,1500.0</move>
        <move_interpolator>decelerate_2,decelerate_2</move_interpolator>
        <scale>3.0,3.0,3.0,3.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,40,82.5,71.5</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,255</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
      <anim>
        <range>0.76,0.82</range>
        <move>760.0,1500.0,400.0,1700.0</move>
        <move_interpolator>accelerate_2,accelerate_2</move_interpolator>
        <scale>3.0,3.0,3.0,3.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>40,0,82.5,71.5</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,255</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
      <anim>
        <range>0.82,0.87</range>
        <move>400.0,1700.0,400.0,1700.0</move>
        <move_interpolator>accelerate_2,accelerate_2</move_interpolator>
        <scale>3.0,3.0,3.0,3.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,82.5,71.5</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,255</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
      <anim>
        <range>0.87,0.91</range>
        <move>400.0,1700.0,760.0,1500.0</move>
        <move_interpolator>decelerate_2,decelerate_2</move_interpolator>
        <scale>3.0,3.0,3.0,3.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,40,82.5,71.5</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,255</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
      <anim>
        <range>0.91,0.97</range>
        <move>760.0,1500.0,400.0,1700.0</move>
        <move_interpolator>accelerate_2,accelerate_2</move_interpolator>
        <scale>3.0,3.0,3.0,3.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>40,0,82.5,71.5</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,255</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
      <anim>
        <range>0.97,1.0</range>
        <move>400.0,1700.0,400.0,1700.0</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>3.0,3.0,3.0,3.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,82.5,71.5</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,255</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
    </bone>
  </actor>
</stage>