<?xml version='1.0' encoding='utf-8' ?>
<scene>
    <width_height>1200,1200</width_height>
    <src_scale>1.0,1.0</src_scale>
    <layout_type>center</layout_type>
    <duration>600</duration>
    <max>3</max>
    <model>
        <chance_range>0,.25</chance_range>
        <active_time>400,550</active_time>
        <src_ltwh>0,0,54,54</src_ltwh>
        <move_from>100,100,660,340</move_from>
        <move_to>offset:0,offset:0,0,0</move_to>
        <move_interpolator>linear,linear</move_interpolator>
        <rotate>0,0,0,0,0,0</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>0,0,255,255</alpha>
        <alpha_interpolator>spring</alpha_interpolator>
        <scale>.5,.6,.9,1</scale>
        <scale_interpolator>spring</scale_interpolator>
    </model>

    <model>
        <chance_range>.25,.5</chance_range>
        <active_time>400,550</active_time>
        <src_ltwh>0,0,54,54</src_ltwh>
        <move_from>760,100,340,660</move_from>
        <move_to>offset:0,offset:0,0,0</move_to>
        <move_interpolator>linear,linear</move_interpolator>
        <rotate>0,0,0,0,0,0</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>0,0,255,255</alpha>
        <alpha_interpolator>spring</alpha_interpolator>
        <scale>.5,.6,.9,1</scale>
        <scale_interpolator>spring</scale_interpolator>
    </model>

    <model>
        <chance_range>.5,.75</chance_range>
        <active_time>400,550</active_time>
        <src_ltwh>0,0,54,54</src_ltwh>
        <move_from>340,660,660,340</move_from>
        <move_to>offset:0,offset:0,0,0</move_to>
        <move_interpolator>linear,linear</move_interpolator>
        <rotate>0,0,0,0,0,0</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>0,0,255,255</alpha>
        <alpha_interpolator>spring</alpha_interpolator>
        <scale>.5,.6,.9,1</scale>
        <scale_interpolator>spring</scale_interpolator>
    </model>

    <model>
        <chance_range>.75,1</chance_range>
        <active_time>400,550</active_time>
        <src_ltwh>0,0,54,54</src_ltwh>
        <move_from>100,340,340,660</move_from>
        <move_to>offset:0,offset:0,0,0</move_to>
        <move_interpolator>linear,linear</move_interpolator>
        <rotate>0,0,0,0,0,0</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>0,0,255,255</alpha>
        <alpha_interpolator>spring</alpha_interpolator>
        <scale>.5,.6,.9,1</scale>
        <scale_interpolator>spring</scale_interpolator>
    </model>
</scene>