<?xml version='1.0' encoding='utf-8' standalone='yes' ?>
<scene>
    <width_height>720,1280</width_height>
    <src_scale>1.0,1.0</src_scale>
    <duration>6000</duration>
    <max>17</max>
    <!--star-->
    <model>
        <chance_range>0,.1</chance_range>
		<active_time>3000,4000</active_time>
        <src_ltwh>0,0,28,30</src_ltwh>
		<move_from>-50,-10,match_parent,10</move_from>
		<move_to>offset:50,1280,60,10</move_to>
        <move_interpolator>linear,decelerate</move_interpolator>
        <rotate>0,100,500,600,23,23</rotate>
        <rotate_interpolator>decelerate</rotate_interpolator>
		<alpha>255,255,0,0</alpha>
        <alpha_interpolator>accelerate</alpha_interpolator>
		<!--<scale>1,1.2,.6,.8</scale>-->
        <scale>2,2.2</scale>
    </model>
    <!--wazi-->
    <model>
        <chance_range>.1,.2</chance_range>
		<active_time>4000,5000</active_time>
        <src_ltwh>29,0,22,30</src_ltwh>
		<move_from>-50,-10,match_parent,10</move_from>
		<move_to>offset:50,1280,60,10</move_to>
        <move_interpolator>linear,decelerate</move_interpolator>
        <rotate>0,100,500,600,12,8</rotate>
        <rotate_interpolator>decelerate</rotate_interpolator>
		<alpha>255,255,0,0</alpha>
        <alpha_interpolator>accelerate</alpha_interpolator>
		<!--<scale>1.2,1.3,1,1.1</scale>-->
        <scale>2.3,2.5</scale>
    </model>
    <!--guaizhang-->
    <model>
        <chance_range>.2,.3</chance_range>
		<active_time>3000,3500</active_time>
        <src_ltwh>51,0,14,30</src_ltwh>
		<move_from>-50,-10,match_parent,10</move_from>
		<move_to>offset:50,1280,60,10</move_to>
        <move_interpolator>linear,decelerate</move_interpolator>
        <rotate>0,100,500,600,12,12</rotate>
        <rotate_interpolator>decelerate</rotate_interpolator>
		<alpha>255,255,0,0</alpha>
        <alpha_interpolator>accelerate</alpha_interpolator>
		<!--<scale>1.4,1.6,1,1.2</scale>-->
        <scale>2,2</scale>
    </model>
    <!--tree-->
    <model>
        <chance_range>.3,.4</chance_range>
		<active_time>3000,4000</active_time>
        <src_ltwh>65,0,27,30</src_ltwh>
		<move_from>-50,-10,match_parent,10</move_from>
		<move_to>offset:50,1280,60,10</move_to>
        <rotate>0,100,500,600,10,10</rotate>
        <rotate_interpolator>decelerate</rotate_interpolator>
        <move_interpolator>linear,decelerate</move_interpolator>
		<alpha>255,255,0,0</alpha>
        <alpha_interpolator>accelerate</alpha_interpolator>
		<!--<scale>1.4,1.6,1,1.2</scale>-->
        <scale>2.4,2.6</scale>
    </model>
    <!--gift-->
    <model>
        <!--<chance_range>.4,.45</chance_range>-->
        <chance_range>.4,.5</chance_range>
		<active_time>2000,3000</active_time>
        <src_ltwh>92,0,25,30</src_ltwh>
		<move_from>-50,-10,match_parent,10</move_from>
		<move_to>offset:50,1280,60,10</move_to>
        <move_interpolator>linear,decelerate</move_interpolator>
        <rotate>0,0,0,0,2,12</rotate>
        <rotate_interpolator>decelerate</rotate_interpolator>
		<alpha>255,255,0,0</alpha>
        <alpha_interpolator>accelerate</alpha_interpolator>
		<!--<scale>1.3,1.5,1,1.2</scale>-->
        <scale>2,2</scale>
    </model>
    <!--t1-->
    <model>
        <!--<chance_range>.45,.5</chance_range>-->
        <chance_range>.5,.6</chance_range>
        <active_time>2500,3000</active_time>
        <src_ltwh>118,0,27,30</src_ltwh>
        <move_from>-50,-10,match_parent,10</move_from>
        <move_to>offset:50,1280,60,10</move_to>
        <move_interpolator>linear,decelerate</move_interpolator>
        <rotate>0,100,500,600,2,12</rotate>
        <rotate_interpolator>decelerate</rotate_interpolator>
        <alpha>255,255,0,0</alpha>
        <alpha_interpolator>accelerate</alpha_interpolator>
        <!--<scale>1.5,1.8,1,1.2</scale>-->
        <scale>2,2.2</scale>
    </model>
    <!--t2-->
    <model>
        <!--<chance_range>.5,.55</chance_range>-->
        <chance_range>.6,.7</chance_range>
        <active_time>2500,3000</active_time>
        <src_ltwh>146,0,27,30</src_ltwh>
        <move_from>-50,-10,match_parent,10</move_from>
        <move_to>offset:50,1280,60,10</move_to>
        <move_interpolator>linear,decelerate</move_interpolator>
        <rotate>0,100,500,600,2,12</rotate>
        <rotate_interpolator>decelerate</rotate_interpolator>
        <alpha>255,255,0,0</alpha>
        <alpha_interpolator>accelerate</alpha_interpolator>
        <!--<scale>1.5,1.6,1,1.2</scale>-->
        <scale>2,2.2</scale>
    </model>
    <!--x1-->
    <model>
        <!--<chance_range>.55,.6</chance_range>-->
        <chance_range>.7,.8</chance_range>
        <active_time>4000,5000</active_time>
        <src_ltwh>173,0,29,30</src_ltwh>
        <move_from>-50,-10,match_parent,10</move_from>
        <move_to>offset:50,1280,60,10</move_to>
        <move_interpolator>linear,decelerate</move_interpolator>
        <rotate>0,100,500,600,2,12</rotate>
        <rotate_interpolator>decelerate</rotate_interpolator>
        <alpha>255,255,0,0</alpha>
        <alpha_interpolator>accelerate</alpha_interpolator>
        <!--<scale>.8,1,1,1.2</scale>-->
        <scale>2,2</scale>
    </model>
    <!--x2-->
    <model>
        <!--<chance_range>.6,.7</chance_range>-->
        <chance_range>.8,.9</chance_range>
        <active_time>4000,5000</active_time>
        <src_ltwh>202,0,28,30</src_ltwh>
        <move_from>-50,-10,match_parent,10</move_from>
        <move_to>offset:50,1280,60,10</move_to>
        <move_interpolator>linear,decelerate</move_interpolator>
        <rotate>0,100,500,600,2,12</rotate>
        <rotate_interpolator>decelerate</rotate_interpolator>
        <alpha>255,255,0,0</alpha>
        <alpha_interpolator>accelerate</alpha_interpolator>
        <!--<scale>.8,1,1,1.2</scale>-->
        <scale>2,2</scale>
    </model>
    <!--x3-->
    <model>
        <!--<chance_range>.7,.75</chance_range>-->
        <chance_range>.9,1</chance_range>
        <active_time>4000,5000</active_time>
        <src_ltwh>230,0,30,30</src_ltwh>
        <move_from>-50,-10,match_parent,10</move_from>
        <move_to>offset:50,1280,60,10</move_to>
        <move_interpolator>linear,decelerate</move_interpolator>
        <rotate>0,100,500,600,2,12</rotate>
        <rotate_interpolator>decelerate</rotate_interpolator>
        <alpha>255,255,0,0</alpha>
        <alpha_interpolator>accelerate</alpha_interpolator>
        <!--<scale>.3,.4,.4,.5</scale>-->
        <scale>.7,1.2</scale>
    </model>
</scene>
