<?xml version='1.0' encoding='utf-8' ?>
<stage>
    <duration>2050</duration>
    <width_height>760,480</width_height>
    <layout_type>center</layout_type>
    <actor>
        <bone>
            <name>bg</name>
            <src_ltwh>0,0,258,258</src_ltwh>
            <anim>
                <range>0.0,0.25</range>
                <move>250.0,240.0,250.0,240.0</move>
                <move_interpolator>linear_2,linear_2</move_interpolator>
                <scale>0.0,0.0,0.78,0.78</scale>
                <scale_interpolator>overshoot_2,overshoot_2</scale_interpolator>
                <rotate>0,0,134.5,134.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>0,255</alpha>
                <alpha_interpolator>linear_2</alpha_interpolator>
            </anim>
            <anim>
                <range>0.25,0.35</range>
                <move>250.0,240.0,250.0,240.0</move>
                <move_interpolator>overshoot_2,overshoot_2</move_interpolator>
                <scale>0.78,0.78,0.83,0.83</scale>
                <scale_interpolator>spring_2,spring_2</scale_interpolator>
                <rotate>0,0,134.5,134.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.35,0.5</range>
                <move>250.0,240.0,310.0,240.0</move>
                <move_interpolator>overshoot_3,overshoot_3</move_interpolator>
                <scale>0.78,0.78,0.78,0.78</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,134.5,134.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.5,0.57</range>
                <move>310.0,240.0,305.0,240.0</move>
                <move_interpolator>spring_2,spring_2</move_interpolator>
                <scale>0.78,0.78,0.78,0.78</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,134.5,134.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.57,1.0</range>
                <move>310.0,240.0,310.0,240.0</move>
                <move_interpolator>linear_2,linear_2</move_interpolator>
                <scale>0.78,0.78,0.78,0.78</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,134.5,134.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
        </bone>
        <bone>
            <name>left</name>
            <src_id_wh>left,1,1</src_id_wh>
            <anim>
                <range>0.0,0.25</range>
                <move>253.0,243.0,253.0,243.0</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>0.0,0.0,160.0,160.0</scale>
                <scale_interpolator>overshoot_2,overshoot_2</scale_interpolator>
                <rotate>0,0,0.5,0.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>0,255</alpha>
                <alpha_interpolator>linear_2</alpha_interpolator>
            </anim>
            <anim>
                <range>0.25,0.35</range>
                <move>253.0,243.0,253.0,243.0</move>
                <move_interpolator>linear_2,linear_2</move_interpolator>
                <scale>160.0,160.0,170.0,170.0</scale>
                <scale_interpolator>spring_2,spring_2</scale_interpolator>
                <rotate>0,0,0.5,0.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.35,0.5</range>
                <move>253.0,243.0,313.0,243.0</move>
                <move_interpolator>overshoot_3,overshoot_3</move_interpolator>
                <scale>160.0,160.0,160.0,160.0</scale>
                <scale_interpolator>linear_2,linear_2</scale_interpolator>
                <rotate>0,0,0.5,0.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear_2</alpha_interpolator>
            </anim>
            <anim>
                <range>0.5,0.57</range>
                <move>313.0,243.0,308.0,243.0</move>
                <move_interpolator>spring_2,spring_2</move_interpolator>
                <scale>160.0,160.0,160.0,160.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,0.5,0.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.57,1.0</range>
                <move>313.0,243.0,313.0,243.0</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>160.0,160.0,160.0,160.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,0.5,0.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
        </bone>
        <bone>
            <name>bg</name>
            <src_ltwh>0,0,258,258</src_ltwh>
            <anim>
                <range>0.0,0.25</range>
                <move>510.0,240.0,510.0,240.0</move>
                <move_interpolator>linear_2,linear_2</move_interpolator>
                <scale>0.0,0.0,0.78,0.78</scale>
                <scale_interpolator>overshoot_2,overshoot_2</scale_interpolator>
                <rotate>0,0,134.5,134.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>0,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.25,0.35</range>
                <move>510.0,240.0,510.0,240.0</move>
                <move_interpolator>overshoot_2,overshoot_2</move_interpolator>
                <scale>0.78,0.78,0.83,0.83</scale>
                <scale_interpolator>spring,spring</scale_interpolator>
                <rotate>0,0,134.5,134.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.35,0.5</range>
                <move>510.0,240.0,450.0,240.0</move>
                <move_interpolator>overshoot_3,overshoot_3</move_interpolator>
                <scale>0.78,0.78,0.78,0.78</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,134.5,134.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.5,0.57</range>
                <move>450.0,240.0,455.0,240.0</move>
                <move_interpolator>spring_2,spring_2</move_interpolator>
                <scale>0.78,0.78,0.78,0.78</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,134.5,134.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.57,1.0</range>
                <move>450.0,240.0,450.0,240.0</move>
                <move_interpolator>linear_2,linear_2</move_interpolator>
                <scale>0.78,0.78,0.78,0.78</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,134.5,134.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
        </bone>
        <bone>
            <name>right</name>
            <src_id_wh>right,1,1</src_id_wh>
            <anim>
                <range>0.0,0.25</range>
                <move>513.0,243.0,513.0,243.0</move>
                <move_interpolator>linear_2,linear_2</move_interpolator>
                <scale>0.0,0.0,160.0,160.0</scale>
                <scale_interpolator>overshoot_2,overshoot_2</scale_interpolator>
                <rotate>0,0,0.5,0.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>0,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.25,0.35</range>
                <move>513.0,243.0,513.0,243.0</move>
                <move_interpolator>overshoot_2,overshoot_2</move_interpolator>
                <scale>160.0,160.0,170.0,170.0</scale>
                <scale_interpolator>spring_2,spring_2</scale_interpolator>
                <rotate>0,0,0.5,0.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.35,0.5</range>
                <move>513.0,243.0,453.0,243.0</move>
                <move_interpolator>overshoot_3,overshoot_3</move_interpolator>
                <scale>160.0,160.0,160.0,160.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,0.5,0.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.5,0.57</range>
                <move>453.0,243.0,458.0,243.0</move>
                <move_interpolator>spring_2,spring_2</move_interpolator>
                <scale>160.0,160.0,160.0,160.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,0.5,0.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.57,1.0</range>
                <move>453.0,243.0,453.0,243.0</move>
                <move_interpolator>linear_2,linear_2</move_interpolator>
                <scale>160.0,160.0,160.0,160.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,0.5,0.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
        </bone>
        <bone>
            <name>likeBg</name>
            <src_ltwh>267,0,88,88</src_ltwh>
            <anim>
                <range>0.0,0.42</range>
                <move>383.0,300.0,383.0,300.0</move>
                <move_interpolator>linear_2,linear_2</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,44.0,44.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>0,0</alpha>
                <alpha_interpolator>linear_2</alpha_interpolator>
            </anim>
            <anim>
                <range>0.42,0.6</range>
                <move>383.0,300.0,383.0,300.0</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>0.0,0.0,2.0,2.0</scale>
                <scale_interpolator>linear_2,linear_2</scale_interpolator>
                <rotate>0,0,44.0,44.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.6,0.7</range>
                <move>383.0,300.0,383.0,300.0</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>2.0,2.0,1.5,1.5</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,44.0,44.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.7,1.0</range>
                <move>383.0,300.0,383.0,300.0</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>1.5,1.5,1.5,1.5</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,44.0,44.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
        </bone>
        <bone>
            <name>heart</name>
            <src_id_wh>heart,1,1</src_id_wh>
            <anim>
                <range>0.0,0.6</range>
                <move>383.0,300.0,383.0,300.0</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>56.0,49.0,56.0,49.0</scale><!--1.5-->
                <!--<scale>44.8.0,39.2,44.8.0,39.2</scale>-->
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,16.0,14.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>0,0</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.6,0.8</range>
                <move>383.0,300.0,383.0,300.0</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>0.0,0.0,2.0,2.0</scale>
                <scale>0,0,72.8,63.7</scale><!--0~1.3-->
                <scale_interpolator>linear_2,linear</scale_interpolator>
                <rotate>0,0,16.0,14.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.8,0.92</range>
                <move>383.0,300.0,383.0,300.0</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>72.8,63.7,50.4,44.1</scale><!--1.3~.9-->
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,16.0,14.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.92,1.0</range>
                <move>383.0,300.0,383.0,300.0</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>50.4,44.1,56,49</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,16.0,14.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
        </bone>
    </actor>
</stage>