<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>yindao_p3_xingxing2@3x.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>48</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yindao_p3_xingxing1@3x.png</key>
			<dict>
				<key>width</key>
				<integer>66</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>66</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>50</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yindao_p3_xingqiu@2x.png</key>
			<dict>
				<key>width</key>
				<integer>277</integer>
				<key>height</key>
				<integer>389</integer>
				<key>originalWidth</key>
				<integer>277</integer>
				<key>originalHeight</key>
				<integer>389</integer>
				<key>x</key>
				<integer>118</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yindao_p3_xiaozi@3x.png</key>
			<dict>
				<key>width</key>
				<integer>960</integer>
				<key>height</key>
				<integer>141</integer>
				<key>originalWidth</key>
				<integer>960</integer>
				<key>originalHeight</key>
				<integer>141</integer>
				<key>x</key>
				<integer>397</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yindao_p3_qipao3@2x.png</key>
			<dict>
				<key>width</key>
				<integer>152</integer>
				<key>height</key>
				<integer>133</integer>
				<key>originalWidth</key>
				<integer>152</integer>
				<key>originalHeight</key>
				<integer>133</integer>
				<key>x</key>
				<integer>1359</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yindao_p3_qipao2@2x.png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>139</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>139</integer>
				<key>x</key>
				<integer>1513</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yindao_p3_qipao1@2x.png</key>
			<dict>
				<key>width</key>
				<integer>111</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>111</integer>
				<key>originalHeight</key>
				<integer>109</integer>
				<key>x</key>
				<integer>1656</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yindao_p3_haiou2@3x.png</key>
			<dict>
				<key>width</key>
				<integer>216</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>216</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>1769</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yindao_p3_haiou1@3x.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>69</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>1769</integer>
				<key>y</key>
				<integer>95</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yindao_p3_dazi@3x.png</key>
			<dict>
				<key>width</key>
				<integer>960</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>960</integer>
				<key>originalHeight</key>
				<integer>117</integer>
				<key>x</key>
				<integer>397</integer>
				<key>y</key>
				<integer>143</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yindao_p2_zuanshi@3x.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>99</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>1840</integer>
				<key>y</key>
				<integer>95</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yindao_p2_xingqiu@3x.png</key>
			<dict>
				<key>width</key>
				<integer>500</integer>
				<key>height</key>
				<integer>488</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>488</integer>
				<key>x</key>
				<integer>1359</integer>
				<key>y</key>
				<integer>196</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yindao_p2_xiaozi@3x.png</key>
			<dict>
				<key>width</key>
				<integer>960</integer>
				<key>height</key>
				<integer>141</integer>
				<key>originalWidth</key>
				<integer>960</integer>
				<key>originalHeight</key>
				<integer>141</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>391</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yindao_p2_shouji@3x.png</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>343</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>343</integer>
				<key>x</key>
				<integer>962</integer>
				<key>y</key>
				<integer>262</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yindao_p2_huangguan@3x.png</key>
			<dict>
				<key>width</key>
				<integer>213</integer>
				<key>height</key>
				<integer>166</integer>
				<key>originalWidth</key>
				<integer>213</integer>
				<key>originalHeight</key>
				<integer>166</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>534</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yindao_p2_dazi@3x.png</key>
			<dict>
				<key>width</key>
				<integer>960</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>960</integer>
				<key>originalHeight</key>
				<integer>117</integer>
				<key>x</key>
				<integer>215</integer>
				<key>y</key>
				<integer>607</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yindao_p1_xingqiu@3x.png</key>
			<dict>
				<key>width</key>
				<integer>500</integer>
				<key>height</key>
				<integer>344</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>344</integer>
				<key>x</key>
				<integer>1177</integer>
				<key>y</key>
				<integer>686</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yindao_p1_xiaozi@3x.png</key>
			<dict>
				<key>width</key>
				<integer>960</integer>
				<key>height</key>
				<integer>141</integer>
				<key>originalWidth</key>
				<integer>960</integer>
				<key>originalHeight</key>
				<integer>141</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>726</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yindao_p1_katongren@3x.png</key>
			<dict>
				<key>width</key>
				<integer>162</integer>
				<key>height</key>
				<integer>249</integer>
				<key>originalWidth</key>
				<integer>162</integer>
				<key>originalHeight</key>
				<integer>249</integer>
				<key>x</key>
				<integer>1861</integer>
				<key>y</key>
				<integer>196</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yindao_p1_jianzhu@3x.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>308</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>308</integer>
				<key>x</key>
				<integer>1679</integer>
				<key>y</key>
				<integer>686</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yindao_p1_dazi@3x.png</key>
			<dict>
				<key>width</key>
				<integer>960</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>960</integer>
				<key>originalHeight</key>
				<integer>117</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>869</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg3.png</key>
			<dict>
				<key>width</key>
				<integer>426</integer>
				<key>height</key>
				<integer>568</integer>
				<key>originalWidth</key>
				<integer>426</integer>
				<key>originalHeight</key>
				<integer>568</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>988</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg2.png</key>
			<dict>
				<key>width</key>
				<integer>426</integer>
				<key>height</key>
				<integer>568</integer>
				<key>originalWidth</key>
				<integer>426</integer>
				<key>originalHeight</key>
				<integer>568</integer>
				<key>x</key>
				<integer>428</integer>
				<key>y</key>
				<integer>988</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg1_sky.png</key>
			<dict>
				<key>width</key>
				<integer>234</integer>
				<key>height</key>
				<integer>234</integer>
				<key>originalWidth</key>
				<integer>234</integer>
				<key>originalHeight</key>
				<integer>234</integer>
				<key>x</key>
				<integer>856</integer>
				<key>y</key>
				<integer>988</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg1.png</key>
			<dict>
				<key>width</key>
				<integer>426</integer>
				<key>height</key>
				<integer>568</integer>
				<key>originalWidth</key>
				<integer>426</integer>
				<key>originalHeight</key>
				<integer>568</integer>
				<key>x</key>
				<integer>1092</integer>
				<key>y</key>
				<integer>1032</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>NewAnimation0.png</string>
			<key>realTextureFileName</key>
			<string>NewAnimation0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>