<?xml version='1.0' encoding='utf-8' ?><stage><duration>1000</duration><width_height>120,120</width_height><layout_type>center</layout_type><auto>false</auto><actor><bone><src_ltwh>1,1,64,92</src_ltwh><anim><range>0.0,1.0</range><alpha>255,255</alpha><move>48,63,48,60</move><scale>0.8,0.8,0.8,0.8</scale><rotate>-20,20,32,46</rotate></anim></bone><bone><src_ltwh>67,1,64,92</src_ltwh><anim><range>0.0,1.0</range><alpha>0,255</alpha><move>48,63,48,60</move><scale>0.8,0.8,0.8,0.8</scale><rotate>-20,20,32,46</rotate></anim></bone><bone><src_ltwh>1,1,64,92</src_ltwh><anim><range>0.0,1.0</range><alpha>255,255</alpha><move>72,57,72,58</move><scale>0.8,0.8,0.8,0.8</scale><rotate>30,-30,32,46</rotate></anim></bone><bone><src_ltwh>67,1,64,92</src_ltwh><anim><range>0.0,1.0</range><alpha>0,255</alpha><move>72,57,72,60</move><scale>0.8,0.8,0.8,0.8</scale><rotate>30,-30,32,46</rotate></anim></bone></actor></stage>