<?xml version='1.0' encoding='utf-8' ?><plist><dict><dict><key>hand</key><dict><key>x</key><real>0</real><key>y</key><real>0</real><key>w</key><real>165</real><key>h</key><real>143</real></dict><key>heart</key><dict><key>x</key><real>166</real><key>y</key><real>0</real><key>w</key><real>117</real><key>h</key><real>102</real></dict><key>no</key><dict><key>x</key><real>284</real><key>y</key><real>0</real><key>w</key><real>96</real><key>h</key><real>96</real></dict></dict></dict></plist>