<?xml version='1.0' encoding='utf-8' ?>
<stage>
    <duration>3000</duration>
    <width_height>960,1280</width_height>
    <layout_type>center</layout_type>
    <actor>
        <bone>
            <src_ltwh>525,1,313,124</src_ltwh>
            <anim>
                <range>0.0,0.15</range>
                <move>142,726,342,610</move>
                <move_interpolator>decelerate,decelerate</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>80,30,50.0,62.0</rotate>
                <rotate_interpolator>overshoot</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.15,0.4</range>
                <move>342,616,342,616</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>30,5,50.0,62.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.4,0.8</range>
                <move>342,616,342,616</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>5,20,50.0,62.0</rotate>
                <rotate_interpolator>shake</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.8,1.0</range>
                <move>342,616,342,616</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>5,15,50.0,62.0</rotate>
                <rotate_interpolator>spring</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
        </bone>
        <bone>
            <src_ltwh>781,744,191,198</src_ltwh>
            <anim>
                <range>0.0,0.15</range>
                <move>210,580,410,480</move>
                <move_interpolator>decelerate,decelerate</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>20,20,95.5,99.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.15,0.4</range>
                <move>410,480,390,480</move>
                <move_interpolator>decelerate,linear</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>20,20,95.5,99.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.4,0.8</range>
                <move>390,480,390,480</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>20,20,95.5,99.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.8,0.9</range>
                <move>390,480,410,480</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>20,20,95.5,99.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.9,1.0</range>
                <move>410,480,410,480</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>20,20,95.5,99.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
        </bone>
        <bone>
            <src_ltwh>1,1,522,941</src_ltwh>
            <anim>
                <range>0.0,0.15</range>
                <move>-50,740,150,640</move>
                <move_interpolator>decelerate,decelerate</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>15,15,261.0,470.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.15,1.0</range>
                <move>150,640,150,640</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>15,15,261.0,470.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
        </bone>
        <bone>
            <src_ltwh>525,388,279,261</src_ltwh>
            <anim>
                <range>0.0,0.15</range>
                <move>60,560,260,460</move>
                <move_interpolator>decelerate,decelerate</move_interpolator>
                <scale>1.2,1.0,1.2,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>15,15,278.0,145.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.15,0.4</range>
                <move>260,460,320,460</move>
                <move_interpolator>decelerate,linear</move_interpolator>
                <scale>1.2,1.0,0.8,1.2</scale>
                <scale_interpolator>decelerate,linear</scale_interpolator>
                <rotate>15,20,278.0,145.5</rotate>
                <rotate_interpolator>decelerate</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.4,0.8</range>
                <move>320,460,320,460</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>0.8,1.2,0.8,1.2</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>20,20,278.0,145.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.8,0.9</range>
                <move>320,460,290,460</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>0.8,1.2,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>20,10,278.0,145.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.9,1.0</range>
                <move>290,460,290,460</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>10,10,278.0,145.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
        </bone>
        <bone>
            <src_ltwh>525,127,281,259</src_ltwh>
            <anim>
                <range>0.0,0.15</range>
                <move>-140,479,60,379</move>
                <move_interpolator>decelerate,decelerate</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,140.5,129.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.15,0.4</range>
                <move>60,379,130,379</move>
                <move_interpolator>decelerate,linear</move_interpolator>
                <scale>1.0,1.0,1.2,1.0</scale>
                <scale_interpolator>decelerate,linear</scale_interpolator>
                <rotate>0,-5,0.0,145.5</rotate>
                <rotate_interpolator>decelerate</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.4,0.8</range>
                <move>130,379,130,379</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>1.2,1.0,1.2,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>-5,-5,0.0,145.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.8,0.9</range>
                <move>130,379,80,379</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>1.2,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>-5,10,0.0,145.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.9,1.0</range>
                <move>80,379,80,379</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>10,10,0.0,145.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
        </bone>
        <bone>
            <src_ltwh>808,261,158,151</src_ltwh>
            <anim>
                <range>0.0,0.15</range>
                <move>53,480,253,380</move>
                <move_interpolator>decelerate,decelerate</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>15,15,79.0,75.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.15,0.4</range>
                <move>253,380,373,365</move>
                <move_interpolator>decelerate,linear</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>15,15,79.0,75.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.4,0.8</range>
                <move>373,365,373,365</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>15,15,79.0,75.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.8,0.9</range>
                <move>373,365,300,389</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>15,15,79.0,75.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.9,1.0</range>
                <move>300,389,300,389</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>15,15,79.0,75.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
        </bone>
        <bone>
            <src_ltwh>806,414,155,153</src_ltwh>
            <anim>
                <range>0.0,0.15</range>
                <move>-132,442,68,342</move>
                <move_interpolator>decelerate,decelerate</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,15,77.5,76.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.15,0.4</range>
                <move>68,342,170,327</move>
                <move_interpolator>decelerate,linear</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>15,15,77.5,76.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.4,0.8</range>
                <move>170,327,170,327</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>15,15,77.5,76.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.8,0.9</range>
                <move>170,327,88,342</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>15,15,77.5,76.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.9,1.0</range>
                <move>88,342,88,342</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>15,15,77.5,76.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
        </bone>
        <bone>
            <src_ltwh>885,569,56,54</src_ltwh>
            <anim>
                <range>0.0,0.15</range>
                <move>-140,430,60,330</move>
                <move_interpolator>decelerate,decelerate</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,28.0,27.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.15,0.4</range>
                <move>60,330,185,320</move>
                <move_interpolator>decelerate,linear</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,28.0,27.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.4,0.8</range>
                <move>185,320,185,320</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,28.0,27.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.8,0.9</range>
                <move>185,320,95,350</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,28.0,27.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.9,1.0</range>
                <move>95,350,95,350</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,28.0,27.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
        </bone>
        <bone>
            <src_ltwh>885,569,56,54</src_ltwh>
            <anim>
                <range>0.0,0.15</range>
                <move>40,470,240,370</move>
                <move_interpolator>decelerate,decelerate</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,28.0,27.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.15,0.4</range>
                <move>240,370,382,357</move>
                <move_interpolator>decelerate,linear</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,28.0,27.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.4,0.8</range>
                <move>382,357,382,357</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,28.0,27.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.8,0.9</range>
                <move>382,357,310,398</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,28.0,27.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.9,1.0</range>
                <move>310,398,310,398</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,28.0,27.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
        </bone>
        <bone>
            <src_ltwh>806,569,77,56</src_ltwh>
            <anim>
                <range>0.0,0.15</range>
                <move>-58,530,142,430</move>
                <move_interpolator>decelerate,decelerate</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>15,15,38.5,28.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.15,0.4</range>
                <move>142,430,265,410</move>
                <move_interpolator>decelerate,linear</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>15,15,38.5,28.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.4,0.8</range>
                <move>265,410,265,410</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>15,15,38.5,28.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.8,0.9</range>
                <move>265,410,180,430</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>15,15,38.5,28.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.9,1.0</range>
                <move>180,430,180,430</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>15,15,38.5,28.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
        </bone>
        <bone>
            <src_ltwh>525,744,254,209</src_ltwh>
            <anim>
                <range>0.0,1.0</range>
                <move>698,1012,698,1012</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,127.0,104.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
        </bone>
        <bone>
            <src_ltwh>982,0,404,146</src_ltwh>
            <src_ltwh>1386,0,404,146</src_ltwh>
            <src_ltwh>982,146,404,146</src_ltwh>
            <src_ltwh>1386,146,404,146</src_ltwh>
            <src_ltwh>982,292,404,146</src_ltwh>
            <src_ltwh>1386,292,404,146</src_ltwh>
            <src_ltwh>982,438,404,146</src_ltwh>
            <src_ltwh>1386,438,404,146</src_ltwh>
            <src_ltwh>982,584,404,146</src_ltwh>
            <src_ltwh>1386,584,404,146</src_ltwh>
            <src_ltwh>982,730,404,146</src_ltwh>
            <src_ltwh>1386,730,404,146</src_ltwh>
            <src_ltwh>982,876,404,146</src_ltwh>
            <src_ltwh>1386,876,404,146</src_ltwh>
            <src_ltwh>0,954,404,146</src_ltwh>
            <src_ltwh>404,954,404,146</src_ltwh>
            <src_ltwh>808,1022,404,146</src_ltwh>
            <src_ltwh>1212,1022,404,146</src_ltwh>
            <src_ltwh>0,1100,404,146</src_ltwh>
            <src_ltwh>404,1100,404,146</src_ltwh>
            <src_ltwh>0,1246,404,146</src_ltwh>
            <src_ltwh>0,1392,404,146</src_ltwh>
            <src_ltwh>0,1538,404,146</src_ltwh>
            <src_ltwh>0,1684,404,146</src_ltwh>
            <src_ltwh>404,1246,404,146</src_ltwh>
            <src_ltwh>404,1392,404,146</src_ltwh>
            <src_ltwh>404,1538,404,146</src_ltwh>
            <src_ltwh>404,1684,404,146</src_ltwh>
            <src_ltwh>808,1168,404,146</src_ltwh>
            <src_ltwh>1212,1168,404,146</src_ltwh>
            <src_ltwh>808,1314,404,146</src_ltwh>
            <src_ltwh>1212,1314,404,146</src_ltwh>
            <src_ltwh>808,1460,404,146</src_ltwh>
            <src_ltwh>1212,1460,404,146</src_ltwh>
            <src_ltwh>808,1606,404,146</src_ltwh>
            <src_ltwh>808,1752,404,146</src_ltwh>
            <src_ltwh>1212,1606,404,146</src_ltwh>
            <src_ltwh>1212,1752,404,146</src_ltwh>
            <anim>
                <range>0.0,0.4</range>
                <move>591,274,591,274</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>1.5,1.5,1.5,1.5</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,202.0,73.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>0,0</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.4,1.0</range>
                <move>570,274,570,274</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>1.5,1.5,1.5,1.5</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,202.0,73.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
        </bone>
    </actor>
</stage>
