<?xml version='1.0' encoding='utf-8' standalone='yes' ?>
<scene>
    <width_height>800,800</width_height>
    <src_scale>1.0,1.0</src_scale>
    <layout_type>center</layout_type>
    <duration>6000</duration>
    <max>7</max>
    <model>
        <chance_range>0,.25</chance_range>
        <active_time>1700,2100</active_time>
        <src_ltwh>60,0,60,57</src_ltwh>
        <move_from>400,400,0,0</move_from>
        <move_rotate_to>0,0,800,200</move_rotate_to>
        <move_interpolator>linear,linear</move_interpolator>
        <rotate>0,0,0,0,30,57</rotate>
        <alpha>0,0,255,255</alpha>
        <alpha_interpolator>spring</alpha_interpolator>
        <scale>1.2,1.6</scale>
    </model>
    <model>
        <chance_range>.25,.5</chance_range>
        <active_time>1700,2100</active_time>
        <src_ltwh>60,0,60,57</src_ltwh>
        <move_from>400,400,0,0</move_from>
        <move_rotate_to>0,600,800,200</move_rotate_to>
        <move_interpolator>linear,linear</move_interpolator>
        <rotate>0,0,0,0,30,57</rotate>
        <alpha>0,0,255,255</alpha>
        <alpha_interpolator>spring</alpha_interpolator>
        <scale>1.2,1.6</scale>
    </model>
    <model>
        <chance_range>.5,.75</chance_range>
        <active_time>1700,2100</active_time>
        <src_ltwh>60,0,60,57</src_ltwh>
        <move_from>400,400,0,0</move_from>
        <move_rotate_to>0,0,200,800</move_rotate_to>
        <move_interpolator>linear,linear</move_interpolator>
        <rotate>0,0,0,0,30,57</rotate>
        <alpha>0,0,255,255</alpha>
        <alpha_interpolator>spring</alpha_interpolator>
        <scale>1.2,1.6</scale>
    </model>
    <model>
        <chance_range>.75,1</chance_range>
        <active_time>1700,2100</active_time>
        <src_ltwh>60,0,60,57</src_ltwh>
        <move_from>400,400,0,0</move_from>
        <move_rotate_to>600,0,200,800</move_rotate_to>
        <move_interpolator>linear,linear</move_interpolator>
        <rotate>0,0,0,0,30,57</rotate>
        <alpha>0,0,255,255</alpha>
        <alpha_interpolator>spring</alpha_interpolator>
        <scale>1.2,1.6</scale>
    </model>
</scene>
