<?xml version='1.0' encoding='utf-8' ?>
<stage>
    <duration>2500</duration>
    <width_height>760,480</width_height>
    <layout_type>center</layout_type>
    <actor>
        <bone>
            <name>bg</name>
            <src_id_wh>bgLeft,1,1</src_id_wh>
            <anim>
                <range>0.0,0.25</range>
                <move>250.0,240.0,250.0,240.0</move>
                <move_interpolator>linear_2,linear_2</move_interpolator>
                <scale>0.0,0.0,210,210</scale>
                <scale_interpolator>overshoot_2,overshoot_2</scale_interpolator>
                <rotate>0,0,134.5,134.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>0,255</alpha>
                <alpha_interpolator>linear_2</alpha_interpolator>
            </anim>
            <anim>
                <range>0.25,0.35</range>
                <move>250.0,240.0,250.0,240.0</move>
                <move_interpolator>overshoot_2,overshoot_2</move_interpolator>
                <scale>210,210,224,224</scale>
                <scale_interpolator>spring_2,spring_2</scale_interpolator>
                <rotate>0,0,134.5,134.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.35,0.5</range>
                <move>250.0,240.0,310.0,240.0</move>
                <move_interpolator>overshoot_3,overshoot_3</move_interpolator>
                <scale>210,210,210,210</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,134.5,134.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.5,0.57</range>
                <move>310.0,240.0,305.0,240.0</move>
                <move_interpolator>spring_2,spring_2</move_interpolator>
                <scale>210,210,210,210</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,134.5,134.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.57,1.0</range>
                <move>310.0,240.0,310.0,240.0</move>
                <move_interpolator>linear_2,linear_2</move_interpolator>
                <scale>210,210,210,210</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,134.5,134.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
        </bone>
        <bone>
            <name>left</name>
            <src_id_wh>left,1,1</src_id_wh>
            <anim>
                <range>0.0,0.25</range>
                <move>250.0,240.0,250.0,240.0</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>0.0,0.0,160.0,160.0</scale>
                <scale_interpolator>overshoot_2,overshoot_2</scale_interpolator>
                <rotate>0,0,0.5,0.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>0,255</alpha>
                <alpha_interpolator>linear_2</alpha_interpolator>
            </anim>
            <anim>
                <range>0.25,0.35</range>
                <move>250.0,240.0,250.0,240.0</move>
                <move_interpolator>linear_2,linear_2</move_interpolator>
                <scale>160.0,160.0,170.0,170.0</scale>
                <scale_interpolator>spring_2,spring_2</scale_interpolator>
                <rotate>0,0,0.5,0.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.35,0.5</range>
                <move>250.0,240.0,310.0,240.0</move>
                <move_interpolator>overshoot_3,overshoot_3</move_interpolator>
                <scale>160.0,160.0,160.0,160.0</scale>
                <scale_interpolator>linear_2,linear_2</scale_interpolator>
                <rotate>0,0,0.5,0.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear_2</alpha_interpolator>
            </anim>
            <anim>
                <range>0.5,0.57</range>
                <move>310.0,240.0,305.0,240.0</move>
                <move_interpolator>spring_2,spring_2</move_interpolator>
                <scale>160.0,160.0,160.0,160.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,0.5,0.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.57,1.0</range>
                <move>310.0,240.0,310.0,240.0</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>160.0,160.0,160.0,160.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,0.5,0.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
        </bone>
        <bone>
            <name>bg</name>
            <src_id_wh>bgRight,1,1</src_id_wh>
            <anim>
                <range>0.0,0.25</range>
                <move>510.0,240.0,510.0,240.0</move>
                <move_interpolator>linear_2,linear_2</move_interpolator>
                <scale>0.0,0.0,210,210</scale>
                <scale_interpolator>overshoot_2,overshoot_2</scale_interpolator>
                <rotate>0,0,134.5,134.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>0,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.25,0.35</range>
                <move>510.0,240.0,510.0,240.0</move>
                <move_interpolator>overshoot_2,overshoot_2</move_interpolator>
                <scale>210,210,224,224</scale>
                <scale_interpolator>spring,spring</scale_interpolator>
                <rotate>0,0,134.5,134.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.35,0.5</range>
                <move>510.0,240.0,450.0,240.0</move>
                <move_interpolator>overshoot_3,overshoot_3</move_interpolator>
                <scale>210,210,210,210</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,134.5,134.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.5,0.57</range>
                <move>450.0,240.0,455.0,240.0</move>
                <move_interpolator>spring_2,spring_2</move_interpolator>
                <scale>210,210,210,210</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,134.5,134.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.57,1.0</range>
                <move>450.0,240.0,450.0,240.0</move>
                <move_interpolator>linear_2,linear_2</move_interpolator>
                <scale>210,210,210,210</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,134.5,134.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
        </bone>
        <bone>
            <name>right</name>
            <src_id_wh>right,1,1</src_id_wh>
            <anim>
                <range>0.0,0.25</range>
                <move>510.0,240.0,510.0,240.0</move>
                <move_interpolator>linear_2,linear_2</move_interpolator>
                <scale>0.0,0.0,160.0,160.0</scale>
                <scale_interpolator>overshoot_2,overshoot_2</scale_interpolator>
                <rotate>0,0,0.5,0.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>0,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.25,0.35</range>
                <move>510.0,240.0,510.0,240.0</move>
                <move_interpolator>overshoot_2,overshoot_2</move_interpolator>
                <scale>160.0,160.0,170.0,170.0</scale>
                <scale_interpolator>spring_2,spring_2</scale_interpolator>
                <rotate>0,0,0.5,0.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.35,0.5</range>
                <move>510.0,240.0,450.0,240.0</move>
                <move_interpolator>overshoot_3,overshoot_3</move_interpolator>
                <scale>160.0,160.0,160.0,160.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,0.5,0.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.5,0.57</range>
                <move>450.0,240.0,455.0,240.0</move>
                <move_interpolator>spring_2,spring_2</move_interpolator>
                <scale>160.0,160.0,160.0,160.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,0.5,0.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.57,1.0</range>
                <move>450.0,240.0,450.0,240.0</move>
                <move_interpolator>linear_2,linear_2</move_interpolator>
                <scale>160.0,160.0,160.0,160.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,0.5,0.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
        </bone>
        <bone>
            <name>icon</name>
            <src_id_wh>icon,1,1</src_id_wh>
            <anim>
                <range>0.0,0.75</range>
                <move>380.0,280.0,380.0,290.0</move>
                <move_interpolator>linear_2,linear_2</move_interpolator>
                <scale>72.0,72.0,72.0,72.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,35.5,35.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>0,0</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.75,0.9</range>
                <move>380.0,290.0,380.0,290.0</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>0.0,0.0,72.0,72.0</scale>
                <scale_interpolator>overshoot_2,overshoot_2</scale_interpolator>
                <rotate>0,0,35.5,35.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>0,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.9,1.0</range>
                <move>380.0,290.0,380.0,290.0</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>72.0,72.0,72.0,72.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,35.5,35.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
        </bone>
    </actor>
</stage>