<?xml version='1.0' encoding='utf-8' ?>
<stage>
    <duration>1800</duration>
    <width_height>1200,1200</width_height>
    <layout_type>center</layout_type>
    <actor>
        <anim>
            <range>0.0,1.0</range>
            <move>360.0,640.0,360.0,640.0</move>
            <move_interpolator>linear,linear</move_interpolator>
            <scale>1.0,1.0,1.0,1.0</scale>
            <scale_interpolator>linear,linear</scale_interpolator>
            <rotate>0,0,180.0,320.0</rotate>
            <rotate_interpolator>linear</rotate_interpolator>
            <alpha>255,255</alpha>
            <alpha_interpolator>linear</alpha_interpolator>
        </anim>
        <bone>
            <name>circle</name>
            <src_id_wh>circle,1,1</src_id_wh>
            <anim>
                <range>0.0,0.2</range>
                <move>600.0,600.0,600.0,600.0</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>50.0,50.0,50.0,50.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,0.5,0.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>0,0</alpha>
                <alpha_interpolator>linear_2</alpha_interpolator>
            </anim>
            <anim>
                <range>0.2,0.8</range>
                <move>600.0,600.0,600.0,600.0</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>300.0,300.0,1200.0,1200.0</scale>
                <scale_interpolator>accelerateDecelerate_2,accelerateDecelerate_2</scale_interpolator>
                <rotate>0,0,0.5,0.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>158,30</alpha>
                <alpha_interpolator>accelerateDecelerate_2</alpha_interpolator>
            </anim>
            <anim>
                <range>0.8,1.0</range>
                <move>600.0,600.0,600.0,600.0</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>1200.0,1200.0,1200.0,1200.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,0.5,0.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>0,0</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
        </bone>
        <bone>
            <name>circle</name>
            <src_id_wh>circle,1,1</src_id_wh>
            <anim>
                <range>0.0,0.6</range>
                <move>600.0,600.0,600.0,600.0</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>300.0,300.0,1200.0,1200.0</scale>
                <scale_interpolator>accelerateDecelerate_2,accelerateDecelerate_2</scale_interpolator>
                <rotate>0,0,0.5,0.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>142,30</alpha>
                <alpha_interpolator>accelerateDecelerate_2</alpha_interpolator>
            </anim>
            <anim>
                <range>0.6,1.0</range>
                <move>600.0,600.0,600.0,600.0</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>300.0,300.0,300.0,300.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,0.5,0.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>0,0</alpha>
                <alpha_interpolator>linear_2</alpha_interpolator>
            </anim>
        </bone>
        <bone>
            <name>bg</name>
            <src_ltwh>0,0,334,335</src_ltwh>
            <anim>
                <range>0.0,1.0</range>
                <move>600.0,605.0,600.0,605.0</move>
                <move_interpolator>linear_2,linear_2</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,167.0,167.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
        </bone>
        <bone>
            <name>pic</name>
            <src_id_wh>pic,1,1</src_id_wh>
            <click_id>pic</click_id>
            <anim>
                <range>0.0,1.0</range>
                <move>600.0,600.0,600.0,600.0</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>310.0,310.0,310.0,310.0</scale>
                <scale_interpolator>linear_2,linear_2</scale_interpolator>
                <rotate>0,0,0.5,0.5</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
        </bone>
        <bone>
            <name>icon</name>
            <src_ltwh>0,336,96,96</src_ltwh>
            <anim>
                <range>0.0,0.45</range>
                <move>707.0,714.0,707.0,714.0</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,20,47.0,81.0</rotate>
                <rotate_interpolator>sin_4</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.45,0.6</range>
                <move>707.0,714.0,707.0,714.0</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,20,47.0,81.0</rotate>
                <rotate_interpolator>shake_2</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.6,1.0</range>
                <move>707.0,714.0,707.0,714.0</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,48.0,48.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
        </bone>
    </actor>
</stage>