<?xml version='1.0' encoding='utf-8' standalone='yes' ?>
<scene>
    <width_height>720,1280</width_height>
    <duration>6000</duration>
    <max>17</max>
    <model>
        <chance_range>0,1</chance_range>
        <active_time>6000,8000</active_time>
        <src_ltwh>0,0,24,27</src_ltwh>
        <move_from>-100,0,match_parent,0</move_from>
        <move_to>offset:100,1280,60,10</move_to>
        <move_interpolator>linear,linear</move_interpolator>
        <rotate>0,100,500,600,8,10</rotate>
        <rotate_interpolator>decelerate</rotate_interpolator>
        <alpha>0,0,255,255</alpha>
        <alpha_interpolator>spring</alpha_interpolator>
        <scale>1.6,1.8</scale>
    </model>
</scene>
