<?xml version='1.0' encoding='utf-8' ?>
<stage>
  <duration>800</duration>
  <width_height>240,240</width_height>
  <layout_type>center</layout_type>
  <actor>
    <bone>
      <src_ltwh>1,1,240,240</src_ltwh>
      <anim>
        <range>0.0,1.0</range>
        <move>120,120,120,120</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>1.0,1.0,1.0,1.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,120,120</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,92</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
    </bone>
    <bone>
      <src_ltwh>1,1,240,240</src_ltwh>
      <anim>
        <range>0.0,1.0</range>
        <move>120,120,120,120</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>1.0,1.0,0.9,0.9</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,120,120</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,255</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
    </bone>
    <bone>
      <src_ltwh>172,407,63,54</src_ltwh>
      <anim>
        <range>0.0,1.0</range>
        <move>185,120,180,125</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>1.0,1.0,1.0,1.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,31,27</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,255</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
    </bone>
    <bone>
      <src_ltwh>87,429,63,54</src_ltwh>
      <anim>
        <range>0.0,1.0</range>
        <move>55,120,50,125</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>1.0,1.0,1.0,1.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,31,27</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,255</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
    </bone>
    <bone>
      <src_ltwh>1,243,146,129</src_ltwh>
      <anim>
        <range>0.0,1.0</range>
        <move>120,120,120,120</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>1.0,1.0,1.0,1.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,73,64</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,255</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
    </bone>
    <bone>
      <src_ltwh>1,374,144,53</src_ltwh>
      <anim>
        <range>0.0,1.0</range>
        <move>120,160,120,160</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>1.0,1.0,1.0,1.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,72,26</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,255</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
    </bone>
    <bone>
      <src_ltwh>149,337,92,68</src_ltwh>
      <anim>
        <range>0.0,1.0</range>
        <move>94,133,104,133</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>1.0,1.0,1.2,1.2</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,-10,0,37</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,255</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
    </bone>
    <bone>
      <src_ltwh>1,429,84,68</src_ltwh>
      <anim>
        <range>0.0,1.0</range>
        <move>150,133,150,133</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>1.0,1.0,1.0,1.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,20,84,37</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,255</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
    </bone>
    <bone>
      <src_ltwh>196,463,41,41</src_ltwh>
      <anim>
        <range>0.0,1.0</range>
        <move>96,120,107,100</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>1.0,1.0,1.0,1.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,20,20</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,255</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
    </bone>
    <bone>
      <src_ltwh>152,463,42,41</src_ltwh>
      <anim>
        <range>0.0,1.0</range>
        <move>148,120,158,100</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>1.0,1.0,1.0,1.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,21,20</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,255</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
    </bone>
    <bone>
      <src_ltwh>147,407,23,18</src_ltwh>
      <anim>
        <range>0.0,1.0</range>
        <move>122,145,136,120</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>1.0,1.0,1.0,1.0</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>0,0,11,9</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,255</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
    </bone>
    <bone>
      <src_ltwh>149,243,98,92</src_ltwh>
      <anim>
        <range>0.0,1.0</range>
        <move>168,82,215,58</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>0.5,0.5,0.8,0.8</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>-10,30,101,12</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>0,255</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
    </bone>
    <bone>
      <src_ltwh>149,243,98,92</src_ltwh>
      <anim>
        <range>0.0,1.0</range>
        <move>168,82,172,46</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>0.4,0.4,0.6,0.6</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>-10,30,101,12</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,0</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
    </bone>
    <bone>
      <src_ltwh>149,243,98,92</src_ltwh>
      <anim>
        <range>0.0,1.0</range>
        <move>177,75,185,75</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>0.5,0.5,0.55,0.55</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>45,30,49,46</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>0,255</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
    </bone>
    <bone>
      <src_ltwh>149,243,98,92</src_ltwh>
      <anim>
        <range>0.0,1.0</range>
        <move>168,82,158,62</move>
        <move_interpolator>linear,linear</move_interpolator>
        <scale>0.5,0.5,0.6,0.6</scale>
        <scale_interpolator>linear,linear</scale_interpolator>
        <rotate>-10,10,101,12</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>0,136</alpha>
        <alpha_interpolator>spring</alpha_interpolator>
      </anim>
    </bone>
  </actor>
</stage>