<?xml version='1.0' encoding='utf-8' ?>
<stage>
    <duration>6000</duration>
    <width_height>1000,1000</width_height>
    <layout_type>center</layout_type>
    <max>10</max>
    <model>
        <chance_range>0.0,0.3</chance_range>
        <active_time>1000,1400</active_time>
        <src_ltwh>0,0,242,233</src_ltwh>
        <move_from>120,120,760,760</move_from>
        <move_to>offset:0,offset:-50,0,0</move_to>
        <move_interpolator>linear,spring</move_interpolator>
        <rotate>0,0,0,0,121,116.5</rotate>
        <rotate_interpolator>accelerate</rotate_interpolator>
        <alpha>0,0,255,255</alpha>
        <alpha_interpolator>spring</alpha_interpolator>
        <scale>.1,.4,.8,1.6</scale>
        <scale_interpolator>overshoot_8</scale_interpolator>
    </model>
    <model>
        <chance_range>0.3,0.4</chance_range>
        <active_time>1000,1400</active_time>
        <src_ltwh>243,0,230,231</src_ltwh>
        <move_from>120,120,760,760</move_from>
        <move_to>offset:0,offset:-50,0,0</move_to>
        <move_interpolator>linear,spring</move_interpolator>
        <rotate>0,0,0,0,115,115.5</rotate>
        <rotate_interpolator>accelerate</rotate_interpolator>
        <alpha>0,0,255,255</alpha>
        <alpha_interpolator>spring</alpha_interpolator>
        <scale>.1,.4,.8,1.6</scale>
        <scale_interpolator>overshoot_8</scale_interpolator>
    </model>
    <model>
        <chance_range>0.4,0.5</chance_range>
        <active_time>1000,1400</active_time>
        <src_ltwh>474,0,214,222</src_ltwh>
        <move_from>110,110,780,780</move_from>
        <move_to>offset:0,offset:-50,0,0</move_to>
        <move_interpolator>linear,spring</move_interpolator>
        <rotate>0,0,0,0,112,111</rotate>
        <rotate_interpolator>accelerate</rotate_interpolator>
        <alpha>0,0,255,255</alpha>
        <alpha_interpolator>spring</alpha_interpolator>
        <scale>.1,.4,.8,1.6</scale>
        <scale_interpolator>overshoot_8</scale_interpolator>
    </model>
    <model>
        <chance_range>0.5,0.6</chance_range>
        <active_time>1000,1400</active_time>
        <src_ltwh>689,0,174,174</src_ltwh>
        <move_from>90,90,820,820</move_from>
        <move_to>offset:0,offset:-50,0,0</move_to>
        <move_interpolator>linear,spring</move_interpolator>
        <rotate>0,0,0,0,87,87</rotate>
        <rotate_interpolator>accelerate</rotate_interpolator>
        <alpha>0,0,255,255</alpha>
        <alpha_interpolator>spring</alpha_interpolator>
        <scale>.1,.4,.8,1.6</scale>
        <scale_interpolator>overshoot_8</scale_interpolator>
    </model>
    <model>
        <chance_range>0.6,0.66</chance_range>
        <active_time>1000,1600</active_time>
        <src_ltwh>864,0,83,83</src_ltwh>
        <move_from>40,40,920,920</move_from>
        <move_to>offset:0,offset:0,0,0</move_to>
        <move_interpolator>linear,spring</move_interpolator>
        <rotate>0,0,20,60,42.5,42.5</rotate>
        <rotate_interpolator>accelerate</rotate_interpolator>
        <alpha>0,0,255,255</alpha>
        <alpha_interpolator>spring</alpha_interpolator>
        <scale>.1,.4,.8,1.6</scale>
        <scale_interpolator>overshoot_8</scale_interpolator>
    </model>
    <model>
        <chance_range>0.66,0.73</chance_range>
        <active_time>1000,1600</active_time>
        <src_ltwh>689,175,56,56</src_ltwh>
        <move_from>30,30,940,940</move_from>
        <move_to>offset:0,offset:0,0,0</move_to>
        <move_interpolator>linear,spring</move_interpolator>
        <rotate>0,0,20,60,28,28</rotate>
        <rotate_interpolator>accelerate</rotate_interpolator>
        <alpha>0,0,255,255</alpha>
        <alpha_interpolator>spring</alpha_interpolator>
        <scale>.1,.4,.8,1.6</scale>
        <scale_interpolator>overshoot_8</scale_interpolator>
    </model>
    <model>
        <chance_range>0.73,0.79</chance_range>
        <active_time>1000,1600</active_time>
        <src_ltwh>864,84,47,45</src_ltwh>
        <move_from>25,25,950,950</move_from>
        <move_to>offset:0,offset:0,0,0</move_to>
        <move_interpolator>linear,spring</move_interpolator>
        <rotate>0,0,20,60,23.5,22.5</rotate>
        <rotate_interpolator>accelerate</rotate_interpolator>
        <alpha>0,0,255,255</alpha>
        <alpha_interpolator>spring</alpha_interpolator>
        <scale>.1,.4,.8,1.6</scale>
        <scale_interpolator>overshoot_8</scale_interpolator>
    </model>
    <model>
        <chance_range>0.79,0.86</chance_range>
        <active_time>1000,1600</active_time>
        <src_ltwh>746,175,40,40</src_ltwh>
        <move_from>20,20,960,960</move_from>
        <move_to>offset:0,offset:0,0,0</move_to>
        <move_interpolator>linear,spring</move_interpolator>
        <rotate>0,0,20,60,20,20</rotate>
        <rotate_interpolator>accelerate</rotate_interpolator>
        <alpha>0,0,255,255</alpha>
        <alpha_interpolator>spring</alpha_interpolator>
        <scale>.1,.4,.8,1.6</scale>
        <scale_interpolator>overshoot_8</scale_interpolator>
    </model>
    <model>
        <chance_range>0.86,0.93</chance_range>
        <active_time>1000,1600</active_time>
        <src_ltwh>864,130,40,38</src_ltwh>
        <move_from>20,20,960,960</move_from>
        <move_to>offset:0,offset:0,0,0</move_to>
        <move_interpolator>linear,spring</move_interpolator>
        <rotate>0,0,20,60,20,19</rotate>
        <rotate_interpolator>accelerate</rotate_interpolator>
        <alpha>0,0,255,255</alpha>
        <alpha_interpolator>spring</alpha_interpolator>
        <scale>.1,.4,.8,1.6</scale>
        <scale_interpolator>overshoot_8</scale_interpolator>
    </model>
    <model>
        <chance_range>0.93,1.0</chance_range>
        <active_time>1000,1600</active_time>
        <src_ltwh>912,84,30,28</src_ltwh>
        <move_from>15,15,970,970</move_from>
        <move_to>offset:0,offset:0,0,0</move_to>
        <move_interpolator>linear,spring</move_interpolator>
        <rotate>0,0,20,60,15,14</rotate>
        <rotate_interpolator>accelerate</rotate_interpolator>
        <alpha>0,0,255,255</alpha>
        <alpha_interpolator>spring</alpha_interpolator>
        <scale>.1,.4,.8,1.6</scale>
        <scale_interpolator>overshoot_8</scale_interpolator>
    </model>
</stage>