<?xml version='1.0' encoding='utf-8' standalone='yes' ?>
<scene>
    <width_height>720,720</width_height>
    <src_scale>1.0,1.0</src_scale>
    <duration>6000</duration>
    <max>7</max>
    <model>
        <chance_range>0,.25</chance_range>
        <active_time>1700,2100</active_time>
        <src_ltwh>0,0,41,50</src_ltwh>
        <move_from>30,30,match_parent,720</move_from>
        <move_to>offset:0,offset:20,0,0</move_to>
        <move_interpolator>linear,decelerate</move_interpolator>
        <rotate>0,0,60,70,21,50</rotate>
        <rotate_interpolator>shake_12</rotate_interpolator>
        <alpha>30,70,255,255</alpha>
        <alpha_interpolator>spring</alpha_interpolator>
        <scale>1.6,2</scale>
    </model>
    <model>
        <chance_range>.25,.5</chance_range>
        <active_time>1700,2100</active_time>
        <src_ltwh>41,0,38,50</src_ltwh>
        <move_from>30,30,match_parent,720</move_from>
        <move_to>offset:0,offset:20,0,0</move_to>
        <move_interpolator>linear,decelerate</move_interpolator>
        <rotate>0,0,60,70,19,50</rotate>
        <rotate_interpolator>shake_12</rotate_interpolator>
        <alpha>30,70,255,255</alpha>
        <alpha_interpolator>spring</alpha_interpolator>
        <scale>1.6,2</scale>
    </model>
    <model>
        <chance_range>.5,.75</chance_range>
        <active_time>1700,2100</active_time>
        <src_ltwh>79,0,41,50</src_ltwh>
        <move_from>30,30,match_parent,720</move_from>
        <move_to>offset:0,offset:20,0,0</move_to>
        <move_interpolator>linear,decelerate</move_interpolator>
        <rotate>0,0,60,70,21,50</rotate>
        <rotate_interpolator>shake_12</rotate_interpolator>
        <alpha>30,70,255,255</alpha>
        <alpha_interpolator>spring</alpha_interpolator>
        <scale>1.3,1.6</scale>
    </model>
    <model>
        <chance_range>.75,1</chance_range>
        <active_time>1700,2100</active_time>
        <src_ltwh>120,0,38,50</src_ltwh>
        <move_from>30,30,match_parent,720</move_from>
        <move_to>offset:0,offset:20,0,0</move_to>
        <move_interpolator>linear,decelerate</move_interpolator>
        <rotate>0,0,60,70,19,50</rotate>
        <rotate_interpolator>shake_12</rotate_interpolator>
        <alpha>30,70,255,255</alpha>
        <alpha_interpolator>spring</alpha_interpolator>
        <scale>1.3,1.6</scale>
    </model>
</scene>
