<?xml version='1.0' encoding='utf-8' ?>
<scene>
    <width_height>720,1280</width_height>
    <duration>6000</duration>
    <max>20</max>
    <model>
        <chance_range>0,.3</chance_range>
        <active_time>4000,6000</active_time>
        <src_ltwh>0,0,79,88</src_ltwh>
        <move_from>-100,0,match_parent,500</move_from>
        <move_to>offset:100,1280,60,10</move_to>
        <move_interpolator>linear,linear</move_interpolator>
        <rotate>0,100,500,600,26,30</rotate>
        <rotate_interpolator>decelerate</rotate_interpolator>
        <alpha>0,0,255,255</alpha>
        <alpha_interpolator>spring</alpha_interpolator>
        <scale>.6,.7</scale>
    </model>
    <model>
        <chance_range>.3,.6</chance_range>
        <active_time>4000,6000</active_time>
        <src_ltwh>80,0,78,88</src_ltwh>
        <move_from>-100,0,match_parent,500</move_from>
        <move_to>offset:100,1280,60,10</move_to>
        <move_interpolator>linear,linear</move_interpolator>
        <rotate>0,100,500,600,26,30</rotate>
        <rotate_interpolator>decelerate</rotate_interpolator>
        <alpha>0,0,255,255</alpha>
        <alpha_interpolator>spring</alpha_interpolator>
        <scale>.6,.7</scale>
    </model>
    <model>
        <chance_range>.6,.8</chance_range>
        <active_time>4000,6000</active_time>
        <src_ltwh>159,0,34,33</src_ltwh>
        <move_from>-100,0,match_parent,500</move_from>
        <move_to>offset:100,1280,60,10</move_to>
        <move_interpolator>linear,linear</move_interpolator>
        <rotate>0,100,500,600,11,11</rotate>
        <rotate_interpolator>decelerate</rotate_interpolator>
        <alpha>0,0,255,255</alpha>
        <alpha_interpolator>spring</alpha_interpolator>
        <scale>.7,.9</scale>
    </model>
    <model>
        <chance_range>.8,1</chance_range>
        <active_time>4000,6000</active_time>
        <src_ltwh>159,34,28,28</src_ltwh>
        <move_from>-100,0,match_parent,500</move_from>
        <move_to>offset:100,1280,60,10</move_to>
        <move_interpolator>linear,linear</move_interpolator>
        <rotate>0,100,500,600,9,9</rotate>
        <rotate_interpolator>decelerate</rotate_interpolator>
        <alpha>0,0,255,255</alpha>
        <alpha_interpolator>spring</alpha_interpolator>
        <scale>.7,.9</scale>
    </model>
</scene>