<?xml version='1.0' encoding='utf-8' standalone='yes' ?>
<scene>
    <width_height>720,300</width_height>
    <layout_type>top</layout_type>
    <duration>6000</duration>
    <max>7</max>
    <!--3-->
    <model>
        <chance_range>0,.1</chance_range>
        <active_time>1700,2100</active_time>
        <src_ltwh>1,1,76,156</src_ltwh>
        <move_from>0,78,match_parent,0</move_from>
        <move_to>offset:0,offset:0,0,0</move_to>
        <move_interpolator>linear,linear</move_interpolator>
        <rotate>0,0,40,60,38,0</rotate>
        <rotate_interpolator>sin_3</rotate_interpolator>
        <alpha>0,0,255,255</alpha>
        <alpha_interpolator>spring</alpha_interpolator>
        <scale>1.2,1.6</scale>
    </model>
    <!--1-->
    <model>
        <chance_range>.1,.3</chance_range>
        <active_time>1700,2100</active_time>
        <src_ltwh>1,330,50,81</src_ltwh>
        <move_from>0,40,match_parent,0</move_from>
        <move_to>offset:0,offset:0,0,0</move_to>
        <move_interpolator>linear,linear</move_interpolator>
        <rotate>0,0,40,60,25,0</rotate>
        <rotate_interpolator>sin_3</rotate_interpolator>
        <alpha>0,0,255,255</alpha>
        <alpha_interpolator>spring</alpha_interpolator>
        <scale>1.2,1.6</scale>
    </model>
    <!--2-->
    <model>
        <chance_range>.3,.5</chance_range>
        <active_time>1700,2100</active_time>
        <src_ltwh>60,159,50,103</src_ltwh>
        <move_from>0,51,match_parent,0</move_from>
        <move_to>offset:0,offset:0,0,0</move_to>
        <move_interpolator>linear,linear</move_interpolator>
        <rotate>0,0,40,60,25,0</rotate>
        <rotate_interpolator>sin_3</rotate_interpolator>
        <alpha>0,0,255,255</alpha>
        <alpha_interpolator>spring</alpha_interpolator>
        <scale>1.2,1.6</scale>
    </model>
    <!--4-->
    <model>
        <chance_range>.5,.7</chance_range>
        <active_time>1700,2100</active_time>
        <src_ltwh>54,264,50,95</src_ltwh>
        <move_from>0,47,match_parent,0</move_from>
        <move_to>offset:0,offset:0,0,0</move_to>
        <move_interpolator>linear,linear</move_interpolator>
        <rotate>0,0,40,60,25,0</rotate>
        <rotate_interpolator>sin_3</rotate_interpolator>
        <alpha>0,0,255,255</alpha>
        <alpha_interpolator>spring</alpha_interpolator>
        <scale>1.2,1.6</scale>
    </model>
    <!--5-->
    <model>
        <chance_range>.7,.9</chance_range>
        <active_time>1700,2100</active_time>
        <src_ltwh>1,159,57,102</src_ltwh>
        <move_from>0,51,match_parent,0</move_from>
        <move_to>offset:0,offset:0,0,0</move_to>
        <move_interpolator>linear,linear</move_interpolator>
        <rotate>0,0,40,60,29,0</rotate>
        <rotate_interpolator>sin_3</rotate_interpolator>
        <alpha>0,0,255,255</alpha>
        <alpha_interpolator>spring</alpha_interpolator>
        <scale>1.2,1.6</scale>
    </model>
    <!--6-->
    <model>
        <chance_range>.9,1</chance_range>
        <active_time>1700,2100</active_time>
        <src_ltwh>1,263,51,65</src_ltwh>
        <move_from>0,32,match_parent,0</move_from>
        <move_to>offset:0,offset:0,0,0</move_to>
        <move_interpolator>linear,linear</move_interpolator>
        <rotate>0,0,40,60,26,0</rotate>
        <rotate_interpolator>sin_3</rotate_interpolator>
        <alpha>0,0,255,255</alpha>
        <alpha_interpolator>spring</alpha_interpolator>
        <scale>1.2,1.6</scale>
    </model>
</scene>
