<?xml version='1.0' encoding='utf-8' ?>
<scene>
    <width_height>720,1280</width_height>
    <layout_type>center</layout_type>
    <duration>6000</duration>
    <max>17</max>
    <!--lobster-->
    <model>
        <click_id>lobster</click_id>
        <chance_range>0,0.25</chance_range>
        <active_time>3000,4000</active_time>
        <src_ltwh>0,0,71,76</src_ltwh>
        <move_from>-50,-100,match_parent,10</move_from>
        <move_to>offset:50,1480,60,10</move_to>
        <move_interpolator>linear,linear</move_interpolator>
        <rotate>0,100,500,600,50,50</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,255,255,255</alpha>
        <alpha_interpolator>accelerate</alpha_interpolator>
        <scale>.8,1</scale>
    </model>
    <!--fish-->
    <model>
        <click_id>fish</click_id>
        <chance_range>0.25,0.5</chance_range>
        <active_time>3000,4000</active_time>
        <src_ltwh>0,77,76,58</src_ltwh>
        <move_from>-50,-100,match_parent,10</move_from>
        <move_to>offset:50,1480,60,10</move_to>
        <move_interpolator>linear,linear</move_interpolator>
        <rotate>0,100,200,300,29.0,0.0</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,255,255,255</alpha>
        <alpha_interpolator>accelerate</alpha_interpolator>
        <scale>1.2,1.4</scale>
    </model>
    <!--rice-->
    <model>
        <click_id>rice</click_id>
        <chance_range>0.5,0.7</chance_range>
        <active_time>3000,4000</active_time>
        <src_ltwh>0,136,75,68</src_ltwh>
        <move_from>-50,-100,match_parent,10</move_from>
        <move_to>offset:50,1480,60,10</move_to>
        <move_interpolator>linear,linear</move_interpolator>
        <rotate>0,100,200,300,34.0,0.0</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,255,255,255</alpha>
        <alpha_interpolator>accelerate</alpha_interpolator>
        <scale>1.0,1.2</scale>
    </model>
    <!--chicken-->
    <model>
        <click_id>chicken</click_id>
        <chance_range>0.7,1.0</chance_range>
        <active_time>3000,4000</active_time>
        <src_ltwh>0,205,73,64</src_ltwh>
        <move_from>-50,-100,match_parent,10</move_from>
        <move_to>offset:50,1480,60,10</move_to>
        <move_interpolator>linear,linear</move_interpolator>
        <rotate>0,100,200,300,32.0,0.0</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,255,255,255</alpha>
        <alpha_interpolator>accelerate</alpha_interpolator>
        <scale>1.0,1.2</scale>
    </model>
</scene>