<?xml version='1.0' encoding='utf-8' ?>
<stage>
  <duration>20000</duration>
  <width_height>720,720</width_height>
  <layout_type>top</layout_type>
  <actor>
    <anim>
      <range>0.0,1.0</range>
      <move>360.0,360.0,360.0,360.0</move>
      <move_interpolator>linear,linear</move_interpolator>
      <scale>1.0,1.0,1.0,1.0</scale>
      <scale_interpolator>linear,linear</scale_interpolator>
      <rotate>0,0,180.0,180.0</rotate>
      <rotate_interpolator>linear</rotate_interpolator>
      <alpha>255,255</alpha>
      <alpha_interpolator>linear</alpha_interpolator>
    </anim>
    <bone>
      <name>1</name>
      <src_ltwh>0,437,360,338</src_ltwh>
      <anim>
        <range>0.0,0.5</range>
        <move>360.0,340.0,720.0,340.0</move>
        <move_interpolator>accelerateDecelerate_2,linear</move_interpolator>
        <scale>2.0,2.0,4.0,2.0</scale>
        <scale_interpolator>accelerateDecelerate_2,linear</scale_interpolator>
        <rotate>0,0,180.0,169.0</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,255</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
      <anim>
        <range>0.5,1.0</range>
        <move>720.0,340.0,360.0,340.0</move>
        <move_interpolator>accelerateDecelerate_2,linear</move_interpolator>
        <scale>4.0,2.0,2.0,2.0</scale>
        <scale_interpolator>accelerateDecelerate_2,linear</scale_interpolator>
        <rotate>0,0,180.0,169.0</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,255</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
    </bone>
    <bone>
      <name>2</name>
      <src_ltwh>0,0,360,436</src_ltwh>
      <anim>
        <range>0.0,0.5</range>
        <move>360.0,740.0,0.0,740.0</move>
        <move_interpolator>accelerateDecelerate_2,linear</move_interpolator>
        <scale>2.0,2.0,4.0,2.0</scale>
        <scale_interpolator>accelerateDecelerate_2,linear</scale_interpolator>
        <rotate>0,0,180.0,218.0</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,255</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
      <anim>
        <range>0.5,1.0</range>
        <move>0.0,740.0,360.0,740.0</move>
        <move_interpolator>accelerateDecelerate_2,linear</move_interpolator>
        <scale>4.0,2.0,2.0,2.0</scale>
        <scale_interpolator>accelerateDecelerate_2,linear</scale_interpolator>
        <rotate>0,0,180.0,218.0</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>255,255</alpha>
        <alpha_interpolator>linear</alpha_interpolator>
      </anim>
    </bone>
  </actor>
</stage>