<?xml version='1.0' encoding='utf-8' standalone='yes' ?>
<scene>
    <width_height>960,480</width_height>
    <layout_type>center</layout_type>
    <duration>1250</duration>
    <max>20</max>
    <model>
        <chance_range>0,.25</chance_range>
        <active_time>600,1400</active_time>
        <src_ltwh>0,0,102,90</src_ltwh>
        <move_from>480,240,0,0</move_from>
        <move_rotate_to>180,0,600,100</move_rotate_to>
        <move_interpolator>decelerate,decelerate</move_interpolator>
        <rotate>0,0,0,0,51,45</rotate>
        <alpha>180,255,0,0</alpha>
        <alpha_interpolator>decelerate</alpha_interpolator>
        <scale>.7,1.1</scale>
    </model>
    <model>
        <chance_range>.25,.5</chance_range>
        <active_time>600,1400</active_time>
        <src_ltwh>0,0,102,90</src_ltwh>
        <move_from>480,240,0,0</move_from>
        <move_rotate_to>180,380,600,100</move_rotate_to>
        <move_interpolator>decelerate,decelerate</move_interpolator>
        <rotate>0,0,0,0,51,45</rotate>
        <alpha>180,255,0,0</alpha>
        <alpha_interpolator>decelerate</alpha_interpolator>
        <scale>.7,1.1</scale>
    </model>
    <model>
        <chance_range>.5,.75</chance_range>
        <active_time>600,1400</active_time>
        <src_ltwh>0,0,102,90</src_ltwh>
        <move_from>480,240,0,0</move_from>
        <move_rotate_to>180,0,100,480</move_rotate_to>
        <move_interpolator>decelerate,decelerate</move_interpolator>
        <rotate>0,0,0,0,51,45</rotate>
        <alpha>180,255,0,0</alpha>
        <alpha_interpolator>decelerate</alpha_interpolator>
        <scale>.7,1.1</scale>
    </model>
    <model>
        <chance_range>.75,1</chance_range>
        <active_time>600,1400</active_time>
        <src_ltwh>0,0,102,90</src_ltwh>
        <move_from>480,240,0,0</move_from>
        <move_rotate_to>680,0,100,480</move_rotate_to>
        <move_interpolator>decelerate,decelerate</move_interpolator>
        <rotate>0,0,0,0,51,45</rotate>
        <alpha>180,255,0,0</alpha>
        <alpha_interpolator>decelerate</alpha_interpolator>
        <scale>.7,1.1</scale>
    </model>
</scene>
