<?xml version='1.0' encoding='utf-8' ?>
<stage>
    <duration>2600</duration>
    <width_height>720,960</width_height>
    <layout_type>bottom</layout_type>
    <actor>
        <bone>
            <src_ltwh>1,1,360,360</src_ltwh>
            <anim>
                <range>0.0,0.4</range>
                <move>360,640,360,640</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,180.0,180.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>0,255</alpha>
                <alpha_interpolator>decelerate</alpha_interpolator>
            </anim>
            <anim>
                <range>0.4,0.5</range>
                <move>360,640,360,630</move>
                <move_interpolator>linear_2,sin_1</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,180.0,180.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.5,0.65</range>
                <move>360,640,360,640</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,180.0,180.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.65,0.9</range>
                <move>360,640,360,650</move>
                <move_interpolator>linear_2,shake_3</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear_2,linear_2</scale_interpolator>
                <rotate>0,0,180.0,180.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear_2</alpha_interpolator>
            </anim>
            <anim>
                <range>0.9,1.0</range>
                <move>360,640,360,840</move>
                <move_interpolator>linear,accelerate_2</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,180.0,180.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,0</alpha>
                <alpha_interpolator>accelerate_2</alpha_interpolator>
            </anim>
        </bone>
        <bone>
            <src_ltwh>891,1,40,40</src_ltwh>
            <anim>
                <range>0.0,0.25</range>
                <move>270,660,270,660</move>
                <move_interpolator>linear,linear_2</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,20.0,20.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>0,0</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.25,0.4</range>
                <move>270,660,270,660</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,20.0,20.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.4,0.5</range>
                <move>270,660,270,650</move>
                <move_interpolator>linear,sin_1</move_interpolator>
                <scale>1.0,1.0,1.5,0.0</scale>
                <scale_interpolator>sin_1,sin_1</scale_interpolator>
                <rotate>0,0,20.0,20.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.5,0.65</range>
                <move>270,660,270,660</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,20.0,20.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.65,1.0</range>
                <move>270,660,270,660</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,20.0,20.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>0,0</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
        </bone>
        <bone>
            <src_ltwh>891,1,40,40</src_ltwh>
            <anim>
                <range>0.0,0.25</range>
                <move>450,660,450,660</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,20.0,20.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>0,0</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.25,0.4</range>
                <move>450,660,450,660</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,20.0,20.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.4,0.5</range>
                <move>450,660,450,650</move>
                <move_interpolator>linear,sin_1</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,20.0,20.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.5,0.65</range>
                <move>450,660,450,660</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,20.0,20.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.65,1.0</range>
                <move>450,660,450,660</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,20.0,20.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>0,0</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
        </bone>
        <bone>
            <src_ltwh>1,497,174,64</src_ltwh>
            <src_ltwh>123,363,174,64</src_ltwh>
            <src_ltwh>123,429,174,64</src_ltwh>
            <src_ltwh>177,495,174,64</src_ltwh>
            <src_ltwh>299,363,174,64</src_ltwh>
            <src_ltwh>299,429,174,64</src_ltwh>
            <src_ltwh>363,1,174,64</src_ltwh>
            <src_ltwh>363,67,174,64</src_ltwh>
            <src_ltwh>363,133,174,64</src_ltwh>
            <src_ltwh>363,199,174,64</src_ltwh>
            <src_ltwh>363,265,174,64</src_ltwh>
            <src_ltwh>353,495,174,64</src_ltwh>
            <src_ltwh>475,331,174,64</src_ltwh>
            <src_ltwh>475,397,174,64</src_ltwh>
            <src_ltwh>539,1,174,64</src_ltwh>
            <src_ltwh>539,67,174,64</src_ltwh>
            <anim>
                <range>0.0,0.25</range>
                <move>360,640,360,640</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>2.0,2.0,2.0,2.0</scale>
                <scale_interpolator>linear_2,linear_2</scale_interpolator>
                <rotate>0,0,87.0,32.0</rotate>
                <rotate_interpolator>decelerate_2</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.25,1.0</range>
                <move>360,640,360,640</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>2.0,2.0,2.0,2.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,87.0,32.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>0,0</alpha>
                <alpha_interpolator>linear_2</alpha_interpolator>
            </anim>
        </bone>
        <bone>
            <src_ltwh>705,529,174,64</src_ltwh>
            <anim>
                <range>0.0,0.25</range>
                <move>360,640,360,640</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>2.0,2.0,2.0,2.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,87.0,32.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>0,0</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.25,0.4</range>
                <move>360,640,330,540</move>
                <move_interpolator>decelerate_2,decelerate_2</move_interpolator>
                <scale>2.0,2.0,2.0,2.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,-20,87.0,32.0</rotate>
                <rotate_interpolator>decelerate_2</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.4,0.5</range>
                <move>330,540,330,530</move>
                <move_interpolator>linear,sin_1</move_interpolator>
                <scale>2.0,2.0,2.0,2.0</scale>
                <scale_interpolator>linear_2,linear_2</scale_interpolator>
                <rotate>-20,-20,87.0,32.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>accelerate_2</alpha_interpolator>
            </anim>
            <anim>
                <range>0.5,0.65</range>
                <move>330,540,360,640</move>
                <move_interpolator>decelerate_2,decelerate_2</move_interpolator>
                <scale>2.0,2.0,2.0,2.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>-20,0,87.0,32.0</rotate>
                <rotate_interpolator>decelerate_2</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear_2</alpha_interpolator>
            </anim>
            <anim>
                <range>0.65,0.9</range>
                <move>360,840,360,840</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>2.0,2.0,2.0,2.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,87.0,32.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>0,0</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.9,1.0</range>
                <move>360,640,360,840</move>
                <move_interpolator>linear,accelerate_2</move_interpolator>
                <scale>2.0,2.0,2.0,2.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,87.0,32.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,0</alpha>
                <alpha_interpolator>accelerate_2</alpha_interpolator>
            </anim>
        </bone>
        <bone>
            <src_ltwh>177,561,180,58</src_ltwh>
            <anim>
                <range>0.0,0.1</range>
                <move>350,745,375,745</move>
                <move_interpolator>accelerate_2,linear_2</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,-20,90.0,29.0</rotate>
                <rotate_interpolator>accelerate_2</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.1,0.4</range>
                <move>375,745,375,745</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>-20,-20,90.0,29.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.4,0.5</range>
                <move>375,745,375,735</move>
                <move_interpolator>linear,sin_1</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>-20,-20,90.0,29.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.5,0.65</range>
                <move>375,745,375,745</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>-20,-20,90.0,29.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.65,0.8</range>
                <move>375,745,375,755</move>
                <move_interpolator>linear,shake_2</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>-20,-20,90.0,29.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.8,0.9</range>
                <move>375,745,350,745</move>
                <move_interpolator>accelerate_2,accelerate_2</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>-20,0,90.0,29.0</rotate>
                <rotate_interpolator>accelerate_2</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>accelerate_2</alpha_interpolator>
            </anim>
            <anim>
                <range>0.9,1.0</range>
                <move>350,745,350,945</move>
                <move_interpolator>linear,accelerate_2</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,90.0,29.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,0</alpha>
                <alpha_interpolator>linear_2</alpha_interpolator>
            </anim>
        </bone>
        <bone>
            <src_ltwh>539,133,174,64</src_ltwh>
            <src_ltwh>539,199,174,64</src_ltwh>
            <src_ltwh>539,265,174,64</src_ltwh>
            <src_ltwh>651,331,174,64</src_ltwh>
            <src_ltwh>715,1,174,64</src_ltwh>
            <src_ltwh>715,67,174,64</src_ltwh>
            <src_ltwh>715,133,174,64</src_ltwh>
            <src_ltwh>715,199,174,64</src_ltwh>
            <src_ltwh>715,265,174,64</src_ltwh>
            <src_ltwh>827,331,174,64</src_ltwh>
            <src_ltwh>651,397,174,64</src_ltwh>
            <src_ltwh>827,397,174,64</src_ltwh>
            <src_ltwh>529,463,174,64</src_ltwh>
            <src_ltwh>705,463,174,64</src_ltwh>
            <src_ltwh>529,529,174,64</src_ltwh>
            <src_ltwh>705,529,174,64</src_ltwh>
            <anim>
                <range>0.0,0.65</range>
                <move>360,640,360,640</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>2.0,2.0,2.0,2.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,87.0,32.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>0,0</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.65,0.9</range>
                <move>360,640,360,640</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>2.0,2.0,2.0,2.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,87.0,32.0</rotate>
                <rotate_interpolator>decelerate_2</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
            <anim>
                <range>0.9,1.0</range>
                <move>360,640,360,640</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>2.0,2.0,2.0,2.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,0,87.0,32.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>0,0</alpha>
                <alpha_interpolator>linear</alpha_interpolator>
            </anim>
        </bone>
        <bone>
            <src_ltwh>1,363,120,132</src_ltwh>
            <anim>
                <range>0.0,0.1</range>
                <move>500,592,500,592</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>0.1,0.1,1.0,1.0</scale>
                <scale_interpolator>linear_2,linear_2</scale_interpolator>
                <rotate>0,360,60.0,66.0</rotate>
                <rotate_interpolator>linear_2</rotate_interpolator>
                <alpha>0,0</alpha>
                <alpha_interpolator>linear_2</alpha_interpolator>
            </anim>
            <anim>
                <range>0.1,0.25</range>
                <move>500,592,500,592</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>0.1,0.1,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>0,180,60.0,66.0</rotate>
                <rotate_interpolator>decelerate_2</rotate_interpolator>
                <alpha>255,255</alpha>
                <alpha_interpolator>linear_2</alpha_interpolator>
            </anim>
            <anim>
                <range>0.25,0.3</range>
                <move>500,592,500,592</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>1.0,1.0,0.5,0.5</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>360,360,60.0,66.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>255,0</alpha>
                <alpha_interpolator>linear_2</alpha_interpolator>
            </anim>
            <anim>
                <range>0.3,1.0</range>
                <move>500,592,500,592</move>
                <move_interpolator>linear,linear</move_interpolator>
                <scale>1.0,1.0,1.0,1.0</scale>
                <scale_interpolator>linear,linear</scale_interpolator>
                <rotate>360,360,60.0,66.0</rotate>
                <rotate_interpolator>linear</rotate_interpolator>
                <alpha>0,0</alpha>
                <alpha_interpolator>decelerate_2</alpha_interpolator>
            </anim>
        </bone>
    </actor>
</stage>