<?xml version='1.0' encoding='utf-8' ?>
<scene>
    <duration>2000</duration>
    <width_height>1000,1500</width_height>
    <layout_type>bottom</layout_type>
    <max>10</max>
    <model>
        <name>plane</name>
        <chance_range>0.0,.8</chance_range>
        <active_time>800,1100</active_time>
        <src_ltwh>0,0,394,367</src_ltwh>
        <move_from>-300,1500,300,300</move_from>
        <move_to>offset:1000,offset:-1500,0,0</move_to>
        <move_interpolator>accelerate_2,accelerate_2</move_interpolator>
        <rotate>0,0,0,0,0.0,0.0</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>0,0,255,255</alpha>
        <alpha_interpolator>spring</alpha_interpolator>
        <scale>0.2,.6</scale>
        <scale_interpolator>linear</scale_interpolator>
    </model>
    <model>
        <name>plane</name>
        <chance_range>0.8,.95</chance_range>
        <active_time>900,1200</active_time>
        <src_ltwh>0,0,394,367</src_ltwh>
        <move_from>-300,1500,300,300</move_from>
        <move_to>offset:1000,offset:-1500,0,0</move_to>
        <move_interpolator>accelerate_2,accelerate_2</move_interpolator>
        <rotate>0,0,0,0,0.0,0.0</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>0,0,255,255</alpha>
        <alpha_interpolator>spring</alpha_interpolator>
        <scale>0.6,.9</scale>
        <scale_interpolator>linear</scale_interpolator>
    </model>
    <model>
        <name>plane</name>
        <chance_range>0.95,1.0</chance_range>
        <active_time>1000,1300</active_time>
        <src_ltwh>0,0,394,367</src_ltwh>
        <move_from>-300,1500,300,300</move_from>
        <move_to>offset:1000,offset:-1500,0,0</move_to>
        <move_interpolator>accelerate_2,accelerate_2</move_interpolator>
        <rotate>0,0,0,0,0.0,0.0</rotate>
        <rotate_interpolator>linear</rotate_interpolator>
        <alpha>0,0,255,255</alpha>
        <alpha_interpolator>spring</alpha_interpolator>
        <scale>.9,1.0</scale>
        <scale_interpolator>linear</scale_interpolator>
    </model>
</scene>