<?xml version='1.0' encoding='utf-8' standalone='yes'?>
<stage>
    <duration>9000</duration>
    <width_height>990,1280</width_height>
    <layout_type>match_height</layout_type>
    <auto>true</auto>
    <actor>
        <bone>
            <src_ltwh>856,988,234,234</src_ltwh>
            <anim>
                <range>0.0,0.25,true</range>
                <alpha>255,255</alpha>
                <move>493,467,493,467</move>
                <scale>2.29,2.29,2.29,2.29</scale>
                <rotate>0,0,117,117</rotate>
            </anim>
            <anim>
                <range>0.25,1.0,false</range>
            </anim>
        </bone>
        <bone>
            <src_ltwh>1177,686,500,344</src_ltwh>
            <anim>
                <range>0.0,0.25,true</range>
                <alpha>255,92</alpha>
                <move>495,548,495,737</move>
                <scale>1.15,1.15,0.8,0.8</scale>
                <rotate>0,0,250,172</rotate>
            </anim>
            <anim>
                <range>0.25,1.0,false</range>
            </anim>
        </bone>
        <bone>
            <src_ltwh>1092,1032,426,568</src_ltwh>
            <anim>
                <range>0.0,0.25,true</range>
                <alpha>255,255</alpha>
                <move>495,640,495,640</move>
                <scale>2.26,2.26,2.26,2.26</scale>
                <rotate>0,0,213,284</rotate>
            </anim>
            <anim>
                <range>0.25,1.0,false</range>
            </anim>
        </bone>
        <bone>
            <src_ltwh>1679,686,200,308</src_ltwh>
            <anim>
                <range>0.0,0.25,true</range>
                <alpha>255,69</alpha>
                <move>415,361,445,630</move>
                <scale>1.0,1.0,0.5,0.5</scale>
                <rotate>0,0,100,154</rotate>
            </anim>
            <anim>
                <range>0.25,1.0,false</range>
            </anim>
        </bone>
        <bone>
            <src_ltwh>1861,196,162,249</src_ltwh>
            <anim>
                <range>0.0,0.25,true</range>
                <alpha>255,201</alpha>
                <move>592,415,495,586</move>
                <scale>0.7,0.7,1.0,1.0</scale>
                <rotate>0,0,81,124</rotate>
            </anim>
            <anim>
                <range>0.25,1.0,false</range>
            </anim>
        </bone>
        <bone>
            <src_ltwh>1359,196,500,488</src_ltwh>
            <anim>
                <range>0.0,0.125,false</range>
            </anim>
            <anim>
                <range>0.125,0.25,true</range>
                <alpha>0,255</alpha>
                <move>502,468,502,468</move>
                <scale>1.2,1.2,1.2,1.2</scale>
                <rotate>0,0,250,244</rotate>
            </anim>
            <anim>
                <range>0.25,0.75,true</range>
                <alpha>255,255</alpha>
                <move>502,468,502,468</move>
                <scale>1.2,1.2,1.2,1.2</scale>
                <rotate>0,0,250,244</rotate>
            </anim>
            <anim>
                <range>0.75,1.0,true</range>
                <alpha>255,0</alpha>
                <move>502,468,502,468</move>
                <scale>1.2,1.2,1.2,1.2</scale>
                <rotate>0,0,250,244</rotate>
            </anim>
        </bone>
        <bone>
            <src_ltwh>962,262,300,343</src_ltwh>
            <anim>
                <range>0.0,0.25,false</range>
            </anim>
            <anim>
                <range>0.25,0.5,true</range>
                <alpha>255,255</alpha>
                <move>836,889,511,501</move>
                <scale>1.2,1.2,1.2,1.2</scale>
                <rotate>0,0,150,171</rotate>
            </anim>
            <anim>
                <range>0.5,0.75,true</range>
                <alpha>255,255</alpha>
                <move>511,501,836,889</move>
                <scale>1.2,1.2,1.2,1.2</scale>
                <rotate>0,0,150,171</rotate>
            </anim>
            <anim>
                <range>0.75,1.0,false</range>
            </anim>
        </bone>
        <bone>
            <src_ltwh>118,0,277,389</src_ltwh>
            <anim>
                <range>0.0,0.75,false</range>
            </anim>
            <anim>
                <range>0.75,1.0,true</range>
                <alpha>105,255</alpha>
                <move>495,811,495,494</move>
                <scale>1.0,1.0,1.2,1.2</scale>
                <rotate>0,0,138,194</rotate>
            </anim>
        </bone>
        <bone>
            <src_ltwh>428,988,426,568</src_ltwh>
            <anim>
                <range>0.0,0.125,false</range>
            </anim>
            <anim>
                <range>0.125,0.25,true</range>
                <alpha>0,255</alpha>
                <move>495,640,495,640</move>
                <scale>2.26,2.26,2.26,2.26</scale>
                <rotate>0,0,213,284</rotate>
            </anim>
            <anim>
                <range>0.25,0.9,true</range>
                <alpha>255,255</alpha>
                <move>495,640,495,640</move>
                <scale>2.26,2.26,2.26,2.26</scale>
                <rotate>0,0,213,284</rotate>
            </anim>
            <anim>
                <range>0.9,1.0,false</range>
            </anim>
        </bone>
        <bone>
            <src_ltwh>1840,95,99,99</src_ltwh>
            <anim>
                <range>0.0,0.25,false</range>
            </anim>
            <anim>
                <range>0.25,0.5,true</range>
                <alpha>0,255</alpha>
                <move>303,391,206,280</move>
                <scale>1.0,1.0,1.0,1.0</scale>
                <rotate>260,360,43,69</rotate>
            </anim>
            <anim>
                <range>0.5,0.75,true</range>
                <alpha>255,0</alpha>
                <move>206,280,-90,11</move>
                <scale>1.0,1.0,1.0,1.0</scale>
                <rotate>0,100,43,69</rotate>
            </anim>
            <anim>
                <range>0.75,1.0,false</range>
            </anim>
        </bone>
        <bone>
            <src_ltwh>0,534,213,166</src_ltwh>
            <anim>
                <range>0.0,0.25,false</range>
            </anim>
            <anim>
                <range>0.25,0.5,true</range>
                <alpha>0,255</alpha>
                <move>496,104,504,217</move>
                <scale>1.5,1.5,1.0,1.0</scale>
                <rotate>0,0,106,83</rotate>
            </anim>
            <anim>
                <range>0.5,0.75,true</range>
                <alpha>255,0</alpha>
                <move>504,217,504,217</move>
                <scale>1.0,1.0,1.0,1.0</scale>
                <rotate>0,0,106,83</rotate>
            </anim>
            <anim>
                <range>0.75,1.0,false</range>
            </anim>
        </bone>
        <bone>
            <src_ltwh>0,988,426,568</src_ltwh>
            <anim>
                <range>0.0,0.75,false</range>
            </anim>
            <anim>
                <range>0.75,1.0,true</range>
                <alpha>0,255</alpha>
                <move>495,640,495,640</move>
                <scale>2.26,2.26,2.26,2.26</scale>
                <rotate>0,0,213,284</rotate>
            </anim>
        </bone>
        <bone>
            <src_ltwh>1513,0,141,139</src_ltwh>
            <anim>
                <range>0.0,0.875,false</range>
            </anim>
            <anim>
                <range>0.875,1.0,true</range>
                <alpha>84,255</alpha>
                <move>329,681,304,646</move>
                <scale>0.8,0.8,1.2,1.2</scale>
                <rotate>0,0,70,69</rotate>
            </anim>
        </bone>
        <bone>
            <src_ltwh>1359,0,152,133</src_ltwh>
            <anim>
                <range>0.0,0.9166667,false</range>
            </anim>
            <anim>
                <range>0.9166667,1.0,true</range>
                <alpha>85,255</alpha>
                <move>664,543,696,473</move>
                <scale>0.8,0.8,1.2,1.2</scale>
                <rotate>0,0,76,66</rotate>
            </anim>
        </bone>
        <bone>
            <src_ltwh>1656,0,111,109</src_ltwh>
            <anim>
                <range>0.0,0.9583333,false</range>
            </anim>
            <anim>
                <range>0.9583333,1.0,true</range>
                <alpha>111,255</alpha>
                <move>349,389,312,336</move>
                <scale>1.0,1.0,1.2,1.2</scale>
                <rotate>0,0,55,54</rotate>
            </anim>
        </bone>
        <bone>
            <src_ltwh>0,869,960,117</src_ltwh>
            <anim>
                <range>0.0,0.25,true</range>
                <alpha>255,0</alpha>
                <move>496,836,-156,836</move>
                <scale>0.8,0.8,0.8,0.8</scale>
                <rotate>0,0,480,58</rotate>
            </anim>
            <anim>
                <range>0.25,1.0,false</range>
            </anim>
        </bone>
        <bone>
            <src_ltwh>0,726,960,141</src_ltwh>
            <anim>
                <range>0.0,0.25,true</range>
                <alpha>255,0</alpha>
                <move>492,927,-189,927</move>
                <scale>0.8,0.8,0.8,0.8</scale>
                <rotate>0,0,480,70</rotate>
            </anim>
            <anim>
                <range>0.25,1.0,false</range>
            </anim>
        </bone>
        <bone>
            <src_ltwh>215,607,960,117</src_ltwh>
            <anim>
                <range>0.0,0.25,false</range>
            </anim>
            <anim>
                <range>0.25,0.5,true</range>
                <alpha>0,255</alpha>
                <move>1085,835,485,835</move>
                <scale>0.8,0.8,0.8,0.8</scale>
                <rotate>0,0,480,58</rotate>
            </anim>
            <anim>
                <range>0.5,0.75,true</range>
                <alpha>255,0</alpha>
                <move>485,835,-85,835</move>
                <scale>0.8,0.8,0.8,0.8</scale>
                <rotate>0,0,480,58</rotate>
            </anim>
            <anim>
                <range>0.75,1.0,false</range>
            </anim>
        </bone>
        <bone>
            <src_ltwh>0,391,960,141</src_ltwh>
            <anim>
                <range>0.0,0.25,false</range>
            </anim>
            <anim>
                <range>0.25,0.5,true</range>
                <alpha>0,255</alpha>
                <move>1195,922,495,922</move>
                <scale>0.8,0.8,0.8,0.8</scale>
                <rotate>0,0,480,70</rotate>
            </anim>
            <anim>
                <range>0.5,0.75,true</range>
                <alpha>255,0</alpha>
                <move>495,922,-195,922</move>
                <scale>0.8,0.8,0.8,0.8</scale>
                <rotate>0,0,480,70</rotate>
            </anim>
            <anim>
                <range>0.75,1.0,false</range>
            </anim>
        </bone>
        <bone>
            <src_ltwh>397,143,960,117</src_ltwh>
            <anim>
                <range>0.0,0.75,false</range>
            </anim>
            <anim>
                <range>0.75,1.0,true</range>
                <alpha>0,255</alpha>
                <move>1195,833,495,833</move>
                <scale>0.8,0.8,0.8,0.8</scale>
                <rotate>0,0,480,58</rotate>
            </anim>
        </bone>
        <bone>
            <src_ltwh>397,0,960,141</src_ltwh>
            <anim>
                <range>0.0,0.75,false</range>
            </anim>
            <anim>
                <range>0.75,1.0,true</range>
                <alpha>0,255</alpha>
                <move>1215,915,495,915</move>
                <scale>0.8,0.8,0.8,0.8</scale>
                <rotate>0,0,480,70</rotate>
            </anim>
        </bone>
    </actor>
</stage>