<?xml version='1.0' encoding='utf-8' ?>
<scene>
    <width_height>720,300</width_height>
    <layout_type>top</layout_type>
    <duration>6000</duration>
    <max>7</max>
    <model>
        <chance_range>0.0,1.0</chance_range>
        <active_time>1500,2000</active_time>
        <src_ltwh>0,0,88,116</src_ltwh>
        <move_from>0,128,match_parent,0</move_from>
        <move_to>offset:0,offset:0,0,0</move_to>
        <move_interpolator>linear,linear</move_interpolator>
        <rotate>0,0,40,60,44,0</rotate>
        <rotate_interpolator>sin_3</rotate_interpolator>
        <alpha>0,0,255,255</alpha>
        <alpha_interpolator>spring</alpha_interpolator>
        <scale>1.2,1.6</scale>
    </model>
</scene>